name: goiabada
services:
  devcontainer:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces/goiabada
      - ~/.config/gh/hosts.yml:/root/.config/gh/hosts.yml
    command: sleep infinity
    networks: 
      - goiabada-network

  mysql-server:
    image: mysql:latest    
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: mySqlPass123
    networks: 
      - goiabada-network

  postgres-server:
    image: postgres:18
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: myPostgresPass123
    networks:
      - goiabada-network

  mssql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: YourStr0ngPassw0rd!  # Must be at least 8 characters including uppercase, lowercase, digits
      MSSQL_PID: Developer                   
    ports:
      - 1433:1433
    volumes:
      - mssql-data:/var/opt/mssql
    networks:
      - goiabada-network
    deploy:
      resources:
        limits:
          memory: 4GB    # SQL Server requires at least 2GB of RAM, increased for stability

  mailhog:
    image: mailhog/mailhog   
    ports:
      - 8025:8025      
    networks: 
      - goiabada-network

volumes:
  mysql-data:
  postgres-data:
  mssql-data:

networks:
  goiabada-network:
    driver: bridge