{{define "title"}}{{ .appName }} - {{ T $.ctx "adminconsole.account.change_password.page_title" }}{{end}}
{{define "pageTitle"}}{{ T $.ctx "adminconsole.account.change_password.page_title" }}{{end}}

{{define "subTitle"}}
    <div class="text-xl font-semibold">{{ T $.ctx "adminconsole.account.change_password.section_title" }}</div>
    <div class="mt-2 divider"></div>
{{end}}

{{define "menu"}}
    {{template "account_menu" . }}
{{end}}

{{define "head"}}



{{end}}

{{define "body"}}

<form action="/account/change-password" method="post">

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">{{ T $.ctx "adminconsole.account.change_password.field.current" }}</span>
            </label>
            <input type="password" name="currentPassword" value="" autofocus
                class="w-full input input-bordered " />
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">{{ T $.ctx "adminconsole.account.change_password.field.new" }}</span>
            </label>
            <input type="password" name="newPassword" value=""
                class="w-full input input-bordered " />
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">{{ T $.ctx "adminconsole.account.change_password.field.new_confirmation" }}</span>
            </label>
            <input type="password" name="newPasswordConfirmation" value="" class="w-full input input-bordered " />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="mt-6">
            {{if .error}}
            <div class="mb-4 text-right text-error">
                <p>{{.error}}</p>
            </div>
            {{end}}
            {{ .csrfField }}
            {{if .savedSuccessfully}}
            <div class="mb-4 text-right text-success">
                <p>&#10004; {{ T $.ctx "adminconsole.account.change_password.saved_successfully" }}</p>
            </div>
            {{end}}
            <button class="float-right btn btn-primary">{{ T $.ctx "adminconsole.account.change_password.button" }}</button>
        </div>

    </div>

</form>

{{end}}
