{{define "title"}}{{ .appName }} - Client - Tokens - {{.client.ClientIdentifier}}{{end}}
{{define "pageTitle"}}Client - Tokens - <span class="text-accent">{{.client.ClientIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tokenExpirationInSeconds = document.getElementById('tokenExpirationInSeconds');        
        tokenExpirationInSeconds.addEventListener('keyup', function () {
            debouncedTokenExpirationUpdate();
        });
        debouncedTokenExpirationUpdate();

        const refreshTokenOfflineIdleTimeoutInSeconds = document.getElementById('refreshTokenOfflineIdleTimeoutInSeconds');
        refreshTokenOfflineIdleTimeoutInSeconds.addEventListener('keyup', function () {
            debouncedRefreshTokenOfflineIdleTimeoutUpdate();
        });
        debouncedRefreshTokenOfflineIdleTimeoutUpdate();

        const refreshTokenOfflineMaxLifetimeInSeconds = document.getElementById('refreshTokenOfflineMaxLifetimeInSeconds');
        refreshTokenOfflineMaxLifetimeInSeconds.addEventListener('keyup', function () {
            debouncedRefreshTokenOfflineMaxLifetimeUpdate();
        });
        debouncedRefreshTokenOfflineMaxLifetimeUpdate();
    });

    var debouncedTokenExpirationUpdate = debounce(function() {       
        const tokenExpirationInSeconds = document.getElementById('tokenExpirationInSeconds');        
        const tokenExpirationDescription = document.getElementById('tokenExpirationDescription');
        updateLabel(tokenExpirationInSeconds, tokenExpirationDescription);
    }, 200);

    var debouncedRefreshTokenOfflineIdleTimeoutUpdate = debounce(function() {       
        const refreshTokenOfflineIdleTimeoutInSeconds = document.getElementById('refreshTokenOfflineIdleTimeoutInSeconds');        
        const refreshTokenOfflineIdleTimeoutDescription = document.getElementById('refreshTokenOfflineIdleTimeoutDescription');
        updateLabel(refreshTokenOfflineIdleTimeoutInSeconds, refreshTokenOfflineIdleTimeoutDescription);
    }, 200);

    var debouncedRefreshTokenOfflineMaxLifetimeUpdate = debounce(function() {       
        const refreshTokenOfflineMaxLifetimeInSeconds = document.getElementById('refreshTokenOfflineMaxLifetimeInSeconds');        
        const refreshTokenOfflineMaxLifetimeDescription = document.getElementById('refreshTokenOfflineMaxLifetimeDescription');
        updateLabel(refreshTokenOfflineMaxLifetimeInSeconds, refreshTokenOfflineMaxLifetimeDescription);
    }, 200);

    function updateLabel(input, label) {        
        let str = input.value.trim();        
        let num = parseInt(str);
        if (isNaN(num)) {
            num = 0;
        }
        // set a limit (~5 years)
        if(num > 160000000) {            
            label.innerText = "Too long. Please use a shorter duration.";            
            return;
        }
        num = num * 1000;

        if(num == 0 && str != "0") {
            label.innerText = "Invalid duration. Please use a positive number.";
            return;
        }

        label.innerText = humanizeDuration(num, { units: ["d", "h", "m", "s"] });
    }
</script>

{{end}}

{{define "body"}}

{{template "manage_clients_tabs" (args "tokens" .client.Id) }}

<form method="post">   

    {{if .client.IsSystemLevelClient}}
    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">        
        <div class="mt-2 w-fit form-control">
            <p class="px-2 ml-1 rounded text-warning-content bg-warning">The settings for this system-level client cannot be changed.</p>
        </div>        
    </div>
    {{end}}

    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">

        <div class="w-full h-full pb-6 bg-base-100">
            <p class="mb-6">The settings specified here will override the global settings for this particular client. If a setting is <span class="text-accent">configured to 0</span>, the corresponding <span class="text-accent">global setting</span> will be used.</p>

            <div class="w-full mt-6 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Token expiration in seconds
                        <div class="tooltip tooltip-top"
                            data-tip="The duration for which the ID token and access token should remain valid.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="tokenExpirationInSeconds" type="text" name="tokenExpirationInSeconds" value="{{.settings.TokenExpirationInSeconds}}"
                    class="w-full input input-bordered " autocomplete="off" autofocus {{if .client.IsSystemLevelClient}}readonly{{end}} />
                <label class="label">
                    <span id="tokenExpirationDescription" class="label-text text-base-content"></span>
                    <span></span>
                </label>
            </div>

            <div class="w-full mt-6 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Offline refresh token - idle timeout in seconds
                        <div class="tooltip tooltip-top"
                            data-tip="The duration of inactivity in seconds that will trigger a timeout when using an 'Offline' type refresh token (offline_access scope).">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="refreshTokenOfflineIdleTimeoutInSeconds" type="text" name="refreshTokenOfflineIdleTimeoutInSeconds"
                    value="{{.settings.RefreshTokenOfflineIdleTimeoutInSeconds}}" class="w-full input input-bordered "
                    autocomplete="off" {{if .client.IsSystemLevelClient}}readonly{{end}} />
                <label class="label">
                    <span id="refreshTokenOfflineIdleTimeoutDescription" class="label-text text-base-content"></span>
                    <span></span>
                </label>
            </div>

            <div class="w-full mt-6 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Offline refresh token - max lifetime in seconds
                        <div class="tooltip tooltip-top"
                            data-tip="The maximum duration an offline session can last, regardless of user activity. Offline sessions are initiated with the offline_access scope.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="refreshTokenOfflineMaxLifetimeInSeconds" type="text" name="refreshTokenOfflineMaxLifetimeInSeconds" value="{{.settings.RefreshTokenOfflineMaxLifetimeInSeconds}}"
                    class="w-full input input-bordered " autocomplete="off" {{if .client.IsSystemLevelClient}}readonly{{end}} />
                <label class="label">
                    <span id="refreshTokenOfflineMaxLifetimeDescription" class="label-text text-base-content"></span>
                    <span></span>
                </label>
            </div>

            <div class="w-full mt-6 form-control">
                <p class="mb-4 font-medium">Include OpenID Connect claims in the access token?</p>
                <div class="space-y-3 ml-1">
                    <label class="flex gap-3 cursor-pointer items-center">
                        <input type="radio" name="includeOpenIDConnectClaimsInAccessToken" class="radio radio-sm" value="on"
                            {{if eq .client.IncludeOpenIDConnectClaimsInAccessToken "on"}}checked{{end}} {{if .client.IsSystemLevelClient}}disabled{{end}} />
                        <span class="label-text">Yes</span>
                    </label>
                    <label class="flex gap-3 cursor-pointer items-center">
                        <input type="radio" name="includeOpenIDConnectClaimsInAccessToken" class="radio radio-sm"  value="off"
                            {{if eq .client.IncludeOpenIDConnectClaimsInAccessToken "off"}}checked{{end}} {{if .client.IsSystemLevelClient}}disabled{{end}} />
                        <span class="label-text">No, include them only in the ID token</span>
                    </label>
                    <label class="flex gap-3 cursor-pointer items-center">
                        <input type="radio" name="includeOpenIDConnectClaimsInAccessToken" class="radio radio-sm" value="default"
                        {{if eq .client.IncludeOpenIDConnectClaimsInAccessToken "default"}}checked{{end}} {{if .client.IsSystemLevelClient}}disabled{{end}} />
                        <span class="label-text">Inherit from <a href="/admin/settings/tokens"
                            class="link link-hover link-secondary">global setting</a></span>
                    </label>
                </div>
            </div>

        </div>

    </div>    

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/clients">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of clients</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if .savedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Client settings saved successfully</p>
                </div>
            {{end}}
            {{if not .client.IsSystemLevelClient}}
                <button id="btnSave" class="float-right btn btn-primary">Save</button>
            {{end}}
        </div>
    </div>

</form>

{{end}}