{{define "title"}}{{ .appName }} - User - Address - <span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "pageTitle"}}User - Address - <span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}



{{end}}

{{define "body"}}

{{template "manage_users_tabs" (args "address" .user.Id .page .query) }}

<form method="post">

    <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Address line 1</span>
            </label>
            <input type="text" name="addressLine1" value="{{.address.AddressLine1}}"
                class="w-full input input-bordered" autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Address line 2</span>
            </label>
            <input type="text" name="addressLine2" value="{{.address.AddressLine2}}"
            class="w-full input input-bordered" autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Locality (city, town)</span>
            </label>
            <input type="text" name="addressLocality" value="{{.address.AddressLocality}}"
                class="w-full input input-bordered" autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Region (state, province)</span>
            </label>
            <input type="text" name="addressRegion" value="{{.address.AddressRegion}}"
                class="w-full input input-bordered" autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Postal code</span>
            </label>
            <input type="text" name="addressPostalCode" value="{{.address.AddressPostalCode}}"
                class="w-full input input-bordered" autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Country</span>
            </label>
            <select class="w-full select select-bordered country-flags" name="addressCountry">
                <option value="" {{ if eq .address.AddressCountry "" }}selected{{ end }}>(blank)</option>
                {{ $address := .address }}
                {{range .countries}}
                <option class="country-flags" value="{{.Alpha3}}" {{ if eq $address.AddressCountry .Alpha3 }}selected{{ end }}>
                    {{.Emoji}} - {{.Name}}</option>
                {{end}}
            </select>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-3">
        <div class="w-full col-span-2">
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/users{{if .query}}?query={{.query}}&page={{.page}}{{else}}?page={{.page}}{{end}}">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of users</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if .savedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Saved successfully</p>
                </div>
            {{end}}
            <button id="btnSave" class="float-right btn btn-primary">Save</button>
        </div>
    </div>

</form>

{{end}}