{{define "title"}}{{ .appName }} - Delete resource - {{.resource.ResourceIdentifier}}{{end}}
{{define "pageTitle"}}Delete resource - <span class="text-accent">{{.resource.ResourceIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}



{{end}}

{{define "body"}}

<form method="post">

    {{if .isSystemLevelResource}}
    <div class="grid grid-cols-1 gap-6 mt-2 lg:grid-cols-2">
        <div class="mt-2 w-fit form-control">
            <p class="px-2 ml-1 rounded text-warning-content bg-warning">This system-level resource cannot be deleted.</p>
        </div>
    </div>
    {{end}}

    <div class="grid grid-cols-1 gap-6 mt-2 lg:grid-cols-2">

        <div class="w-full h-full pb-6 bg-base-100">

            <div class="w-full">
                <p class="">Are you sure?</p>
                <p class="mt-2">Deleting a resource will result in the <span class='text-accent'>deletion of all linked data</span>,
                    including permissions assigned to clients, groups and users.</p>
            </div>

            <div class="w-full mt-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Resource identifier</td>
                            <td class="font-mono">{{.resource.ResourceIdentifier}}</td>
                        </tr>
                        {{if .resource.Description}}
                        <tr>
                            <td>Resource description</td>
                            <td class="">{{.resource.Description}}</td>
                        </tr>
                        {{end}}
                        <tr>
                            <td>Permissions</td>
                            <td class="">
                                <ul class="list-disc list-inside">
                                    {{range .permissions}}
                                    <li>{{.PermissionIdentifier}}</li>
                                    {{end}}
                                </ul>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>

            <div class="w-full mt-6">
                <p>Please confirm your intention to delete this resource by entering the resource identifier and clicking the <span class="text-accent">delete</span> button.</p>
            </div>

            <div class="w-full mt-6 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Resource identifier                        
                    </span>
                </label>
                <input id="resourceIdentifier" type="text" name="resourceIdentifier" value=""
                    class="w-full input input-bordered " autocomplete="off" autofocus {{if .isSystemLevelResource}}readonly{{end}} />
            </div>
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
            <div class="mb-4 text-right text-error">
                <p>{{.error}}</p>
            </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/resources">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of resources</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if not .isSystemLevelResource}}
                <button id="btnDelete" class="float-right btn btn-primary">Delete</button>
            {{end}}
        </div>
    </div>

</form>

{{end}}