{{define "title"}}{{ .appName }} - User - Email - <span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "pageTitle"}}User - Email - <span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}


{{end}}

{{define "body"}}

{{template "manage_users_tabs" (args "email" .user.Id .page .query) }}

<form method="post">

    <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-2">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Email</span>
            </label>
            <input type="text" name="email" value="{{.email}}" class="w-full input input-bordered" autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-6 md:grid-cols-2">
        <div class="w-full form-control">
            <label class="cursor-pointer label">
                <span class="label-text">
                    Email verified
                </span>
                <input type="checkbox" name="emailVerified" class="ml-2 toggle" 
                    {{if .emailVerified}}checked{{end}} />
            </label>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/users{{if .query}}?query={{.query}}&page={{.page}}{{else}}?page={{.page}}{{end}}">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of users</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if .savedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Saved successfully</p>
                </div>
            {{end}}
            <button id="btnSave" class="float-right btn btn-primary">Save</button>
        </div>
    </div>

</form>

{{end}}