{{define "title"}}{{ .appName }} - {{ T $.ctx "adminconsole.admin_users.attributes.page_title_prefix" }}{{.user.Email}}{{end}}
{{define "pageTitle"}}{{ T $.ctx "adminconsole.admin_users.attributes.page_title_prefix" }}<span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>

    function editGroupAttribute(button, event, id) {
        event.preventDefault();
        window.location.href = "/admin/users/{{.user.Id}}/attributes/edit/" + id + "?page={{.page}}&query={{.query}}";
    }

    function removeGroupAttribute(button, event, id, key) {
        event.preventDefault();

        const userIdentifier = "{{.user.Email}}";
        showModalDialog("modal1", "{{ T $.ctx "adminconsole.admin_users.attributes.modal_remove_title" }}", "{{ T $.ctx "adminconsole.admin_users.attributes.modal_remove_body_prefix" }}" + key + "{{ T $.ctx "adminconsole.admin_users.attributes.modal_remove_body_middle" }}" + userIdentifier + "{{ T $.ctx "adminconsole.admin_users.attributes.modal_remove_body_suffix" }}",
        function() {
        },
        function() {

            const loadingIcon = document.getElementById("loading" + id);

            sendAjaxRequest({
                "url": "/admin/users/{{.user.Id}}/attributes/remove/" + id,
                "method": "POST",
                "bodyData": JSON.stringify({}),
                "loadingElement": loadingIcon,
                "loadingClasses": ["loading", "loading-xs"],
                "modalId": "modal0",
                "callback": function(result) {
                    if(result.Success) {
                        const removed = document.createElement("span");
                        removed.setAttribute("class", "px-2 rounded text-error-content bg-error");
                        removed.innerHTML = "{{ T $.ctx "adminconsole.admin_users.attributes.removed_label" }}";
                        button.parentNode.replaceChild(removed, button);
                    }
                }
            });

        });
    }
</script>

{{end}}

{{define "body"}}

{{template "manage_users_tabs" (args "attributes" .user.Id .page .query $.ctx) }}

    {{ .csrfField }}

    <div class="flex justify-between mt-6">
        <div>
            <p class="pl-2">{{ T $.ctx "adminconsole.admin_users.attributes.intro" }}</p>
        </div>
        <div class="">
            <a class="mr-3 text-right btn btn-primary btn-sm" href="/admin/users/{{.user.Id}}/attributes/add{{if .query}}?query={{.query}}&page={{.page}}{{else}}?page={{.page}}{{end}}">{{ T $.ctx "adminconsole.admin_users.attributes.add_button" }}</a>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-6">

        <div class="w-full h-full pb-6 bg-base-100">
            <table id="attributesTable" class="table mt-2">
                <thead>
                    <tr>
                        <th class="w-72">{{ T $.ctx "adminconsole.admin_users.attributes.col_key" }}</th>
                        <th>{{ T $.ctx "adminconsole.admin_users.attributes.col_value" }}</th>
                        <th class="w-28">{{ T $.ctx "adminconsole.admin_users.attributes.col_include_in_access_token" }}</th>
                        <th class="w-28">{{ T $.ctx "adminconsole.admin_users.attributes.col_include_in_id_token" }}</th>
                        <th class="w-24">{{ T $.ctx "adminconsole.admin_users.attributes.col_edit" }}</th>
                        <th class="w-32">{{ T $.ctx "adminconsole.admin_users.attributes.col_remove" }}</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .attributes}}
                        <tr>
                            <td class="w-72">{{.Key}}</td>
                            <td>{{.Value}}</td>
                            <td class="w-28">
                                {{if .IncludeInAccessToken}}
                                    <span class="px-2 rounded text-success-content bg-success">{{ T $.ctx "adminconsole.admin_users.attributes.yes" }}</span>
                                {{else}}
                                    <span class="px-2 rounded text-neutral-content bg-neutral">{{ T $.ctx "adminconsole.admin_users.attributes.no" }}</span>
                                {{end}}
                            </td>
                            <td class="w-28">
                                {{if .IncludeInIdToken}}
                                    <span class="px-2 rounded text-success-content bg-success">{{ T $.ctx "adminconsole.admin_users.attributes.yes" }}</span>
                                {{else}}
                                    <span class="px-2 rounded text-neutral-content bg-neutral">{{ T $.ctx "adminconsole.admin_users.attributes.no" }}</span>
                                {{end}}
                            </td>
                            <td class="w-24">
                                <button onclick="editGroupAttribute(this, event, {{.Id}});"
                                    class="inline-block align-middle btn-xs btn btn-primary">{{ T $.ctx "adminconsole.admin_users.attributes.edit_button" }}</button>
                            </td>
                            <td class="w-32">
                                <button onclick="removeGroupAttribute(this, event, {{.Id}}, '{{.Key}}');"
                                    class="inline-block align-middle btn-xs btn btn-primary">{{ T $.ctx "adminconsole.admin_users.attributes.remove_button" }}</button>
                                <span id="loading{{.Id}}" class="hidden w-5 h-5 mr-1 align-middle text-primary">&nbsp;</span>
                            </td>
                        </tr>
                    {{end}}
                    {{if eq (len .attributes) 0}}
                        <tr>
                            <td colspan="7" class="text-center"><span class='p-1 rounded text-warning-content bg-warning'>{{ T $.ctx "adminconsole.admin_users.attributes.empty" }}</span></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>

        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-1">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/users{{if .query}}?query={{.query}}&page={{.page}}{{else}}?page={{.page}}{{end}}">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">{{ T $.ctx "adminconsole.admin_users.common.back_to_list" }}</span>
                </a>
            </div>
            {{ .csrfField }}

        </div>
    </div>

{{template "modal_dialog" (args "modal0" "close" $.ctx ) }}
{{template "modal_dialog" (args "modal1" "yes_no" $.ctx ) }}

{{end}}

