{{define "title"}}{{ .appName }} - User - Profile - <span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "pageTitle"}}User - Profile - <span class="text-accent">{{.user.Email}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}



{{end}}

{{define "body"}}

{{template "manage_users_tabs" (args "profile" .user.Id .page .query) }}

<form method="post">

    <div class="grid grid-cols-1 gap-6 mt-4 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Username</span>
            </label>
            <input type="text" name="username" value="{{.user.Username}}" class="w-full input input-bordered " autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Given name</span>
            </label>
            <input type="text" name="givenName" value="{{.user.GivenName}}" class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Middle name</span>
            </label>
            <input type="text" name="middleName" value="{{.user.MiddleName}}" class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Family name</span>
            </label>
            <input type="text" name="familyName" value="{{.user.FamilyName}}" class="w-full input input-bordered " autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Nickname</span>
            </label>
            <input type="text" name="nickname" value="{{.user.Nickname}}" class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Website</span>
            </label>
            <input type="text" name="website" value="{{.user.Website}}" class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Gender</span>
            </label>
            <select class="w-full select select-bordered" name="gender">
                <option value="" {{ if eq .user.Gender "" }}selected{{ end }}>(blank)</option>
                <option value="0" {{ if eq .user.Gender "female" }}selected{{ end }}>Female
                </option>
                <option value="1" {{ if eq .user.Gender "male" }}selected{{ end }}>Male
                </option>
                <option value="2" {{ if eq .user.Gender "other" }}selected{{ end }}>Other
                </option>
            </select>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">                                
                <span class=" label-text text-base-content">
                    <span class="inline-block align-middle">Date of birth</span>
                    <div class="tooltip tooltip-top" data-tip="Please use the format YYYY-MM-DD. Example: 1980-12-22">
                        <svg class="inline-block w-6 h-6 align-middle cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                    </div>
                </span>                
            </label>
            <input type="text" name="dateOfBirth" placeholder="YYYY-MM-DD" value="{{if .user.BirthDate.Valid}}{{.user.BirthDate.Time.Format "2006-01-02"}}{{end}}" class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    <span class="inline-block align-middle">Zone info</span>
                    <div class="tooltip tooltip-top" data-tip="The zone info represents a time zone. For example, Europe/Paris or Asia/Tokyo.">
                        <svg class="inline-block w-6 h-6 align-middle cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                    </div>
                </span>
            </label>
            <select class="w-full select select-bordered" name="zoneInfo">
                <option value="" {{ if eq .user.ZoneInfo "" }}selected{{ end }}>(blank)
                </option>
                {{ $user := .user }}
                {{range .timezones}}
                <option value="{{.CountryName}}___{{.Zone}}" {{ if eq (concat $user.ZoneInfoCountryName "___" $user.ZoneInfo) (concat .CountryName "___" .Zone) }}selected{{ end }}>
                    {{.CountryName}} - {{.Zone}}{{if .Comments}} - {{.Comments}}{{end}}</option>
                {{end}}
            </select>
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    <span class="inline-block align-middle">Locale</span>
                    <div class="tooltip tooltip-top" data-tip="A locale identifies a language and a geographic region. It is often used to define how dates and numbers are formatted.">
                        <svg class="inline-block w-6 h-6 align-middle cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                        </svg>
                    </div>
                </span>
            </label>
            <select class="w-full select select-bordered" name="locale">                            
                <option value="" {{ if eq $user.Locale "" }}selected{{ end }}>(blank)</option>
                {{range .locales}}
                <option value="{{.Id}}" {{ if eq $user.Locale .Id }}selected{{ end }}>{{.Id}} -
                    {{.Value}}</option>
                {{end}}
            </select>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-1">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/users{{if .query}}?query={{.query}}&page={{.page}}{{else}}?page={{.page}}{{end}}">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of users</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if .savedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Profile saved successfully</p>
                </div>
            {{end}}
            <button id="btnSave" class="float-right btn btn-primary">Save</button>
        </div>
    </div>

</form>

{{end}}