{{define "title"}}{{ .appName }} - Resource permissions - {{.resourceIdentifier}}{{end}}
{{define "pageTitle"}}Resource permissions - <span class="text-accent">{{.resourceIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>   
   var nextNewPermissionId = 0;
   var availablePermissions = [];
    {{- range $idx, $perm := .permissions}}
    availablePermissions.push({ "id": {{$perm.Id}}, "permissionIdentifier": "{{$perm.PermissionIdentifier}}", "description": "{{$perm.Description}}" });    
    {{- end}}
   

   document.addEventListener("DOMContentLoaded", function() {
        focusFirstField();           
        refreshPermissionsTable();

        btnSave = document.getElementById("btnSave");
        if(btnSave) {
            btnSave.addEventListener("click", btnSaveClick);
        }
   });

   function createPermission(evt, elem) {
        evt.preventDefault();

        const permissionsTable = document.getElementById("permissionsTable");
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");      
        
        if(permissionIdentifier.value.length == 0) {               
            return;
        } else {

            let permAlreadyAdded = false;
            availablePermissions.forEach(function(perm) {
                if(perm.permissionIdentifier == permissionIdentifier.value) {
                    permAlreadyAdded = true;                    
                }
            });

            if(permAlreadyAdded)
            {
                showModalDialog("modal0", "Error", "The permission identifier is already in the list.");
                return;
            }
            
            validatePermission(permissionIdentifier.value, permissionDescription.value, false, function(ok) {
                if(ok) {
                    nextNewPermissionId--;                    
                    availablePermissions.push({ "id": nextNewPermissionId, "permissionIdentifier": permissionIdentifier.value, "description": permissionDescription.value });
                    refreshPermissionsTable();
                    permissionIdentifier.value = "";
                    permissionDescription.value = "";
                    focusFirstField();
                }
            });            
        }
   }

   function focusFirstField() {
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        setTimeout(function() {
            permissionIdentifier.focus();
        }, 100);
   }

   function validatePermission(permissionIdentifierStr, permissionDescriptionStr, isUpdating, callback) {

        let loadingIcon = null;
        if(isUpdating) {
            loadingIcon = document.getElementById("loadingIcon2");
        } else {
            loadingIcon = document.getElementById("loadingIcon1");
        }

        sendAjaxRequest({
            "url": "/admin/resources/validate-permission",
            "method": "POST",
            "bodyData": JSON.stringify({
                "permissionIdentifier": permissionIdentifierStr,                        
                "description": permissionDescriptionStr
            }),
            "loadingElement": loadingIcon,
            "loadingClasses": ["loading", "loading-xs"],
            "modalId": "modal0",
            "callback": function(result) {
                
                if(!result.Valid) {
                    showModalDialog("modal0", "Validation error", result.Error, function() {
                        focusFirstField();
                    });
                } else {
                    callback(true);                    
                }
            }
        });                
   }

   function refreshPermissionsTable() {
      const isSystemLevelResource = {{if .isSystemLevelResource}}true{{else}}false{{end}};
      const permissionsTable = document.getElementById("permissionsTable");
      const tbody = permissionsTable.getElementsByTagName("tbody")[0];
      tbody.innerHTML = "";
      
      if(availablePermissions.length == 0) {
         const row = tbody.insertRow();
         const cell1 = row.insertCell(0);         
         cell1.className = "p-1 font-mono text-sm align-middle text-center";
         cell1.innerHTML = "This resource has no permissions defined";
         cell1.colSpan = 4;
      } else {
        availablePermissions.forEach(perm => {            
            const row = tbody.insertRow();
            const cell1 = row.insertCell(0);
            const cell2 = row.insertCell(1);            
            const cell3 = row.insertCell(2);
            const cell4 = row.insertCell(3);
            cell1.className = "p-1 font-mono text-sm align-middle";
            cell1.innerHTML = perm.permissionIdentifier;

            cell2.className = "p-1";
            cell2.innerHTML = perm.description;

            cell3.className = "p-1 text-right w-16";
            if(isSystemLevelResource) {
                cell3.innerHTML =  "&nbsp;";
            } else {                
                cell3.innerHTML = getEditMarkup("", "editPermission(event, this);", "data-permissionid='" + perm.id + "'");
            }            

            cell4.className = "p-1 text-right w-16";
            if(isSystemLevelResource) {
                cell4.innerHTML =  "&nbsp;";
            } else {
                cell4.innerHTML = getTrashCanMarkup("", "deletePermission(event, this);", "data-permissionid='" + perm.id + "'");              
            }
        });
      }
   }

   function editPermission(evt, elem) {
        evt.preventDefault();

        const permId = elem.dataset.permissionid;
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");
        const updatePermissionButton = document.getElementById("updatePermissionButton");

        let found = false;
        availablePermissions.forEach(function(perm) {
            if(perm.id == permId) {
                found = true;
                permissionIdentifier.value = perm.permissionIdentifier;
                permissionDescription.value = perm.description;
                createPermissionActionPanel.classList.add("hidden");
                updatePermissionActionPanel.classList.remove("hidden");
                updatePermissionButton.dataset.permissionid = perm.id;
            }
        });

        if(!found) {
            showModalDialog("modal0", "Error", "Unable to find permission");
        }
   }

   function updatePermission(evt, elem) {
        evt.preventDefault();

        const permId = elem.dataset.permissionid;
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");

        let permAlreadyAdded = false;
        availablePermissions.forEach(function(perm) {
            if(perm.permissionIdentifier == permissionIdentifier.value &&
                perm.id != permId) {
                permAlreadyAdded = true;                    
            }
        });

        if(permAlreadyAdded)
        {
            showModalDialog("modal0", "Error", "The permission identifier is already in the list.");
            return;
        }

        validatePermission(permissionIdentifier.value, permissionDescription.value, true, function(ok) {
            if(ok) {
                availablePermissions.forEach(function(perm) {
                    if(perm.id == permId) {
                        perm.permissionIdentifier = permissionIdentifier.value;
                        perm.description = permissionDescription.value;
                        permissionIdentifier.value = "";
                        permissionDescription.value = "";
                        createPermissionActionPanel.classList.remove("hidden");
                        updatePermissionActionPanel.classList.add("hidden");
                        updatePermissionButton.dataset.permissionid = "";
                        
                        refreshPermissionsTable();
                        focusFirstField();
                    }
                });
            }
        });
   }

   function cancelEdit(evt, elem) {
        evt.preventDefault();
        
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");
        const updatePermissionButton = document.getElementById("updatePermissionButton");

        permissionIdentifier.value = "";
        permissionDescription.value = "";
        createPermissionActionPanel.classList.remove("hidden");
        updatePermissionActionPanel.classList.add("hidden");
        updatePermissionButton.dataset.permissionid = "";
   }

   function deletePermission(evt, elem) {      
      evt.preventDefault();
      
        const permId = elem.dataset.permissionid;
      
        availablePermissions.forEach(function(perm, index) {
             if(perm.id == permId) {
                availablePermissions.splice(index, 1);
             }
        });

        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");
        const updatePermissionButton = document.getElementById("updatePermissionButton");

        if(!updatePermissionActionPanel.classList.contains("hidden")) {
            permissionIdentifier.value = "";
            permissionDescription.value = "";
            createPermissionActionPanel.classList.remove("hidden");
            updatePermissionActionPanel.classList.add("hidden");
            updatePermissionButton.dataset.permissionid = "";
        }

        refreshPermissionsTable();
   }

   function btnSaveClick(evt) {
        evt.preventDefault();

        const loadingIcon = document.getElementById("loadingIcon");

        sendAjaxRequest({
            "url": "/admin/resources/{{.resourceId}}/permissions",
            "method": "POST",
            "bodyData": JSON.stringify({
                "resourceId": {{.resourceId}},                        
                "permissions": availablePermissions
            }),
            "loadingElement": loadingIcon,
            "loadingClasses": ["loading", "loading-xs"],
            "modalId": "modal0",
            "callback": function(result) {
                
                if(result.Success) {
                    window.location.href = "/admin/resources/{{.resourceId}}/permissions";
                } else {
                    showModalDialog("modal0", "Error", result.Error);
                }
            }
        });
   }   
</script>

{{end}}

{{define "body"}}

{{template "manage_resources_tabs" (args "permissions" .resourceId) }}

<form method="post">

    {{if .isSystemLevelResource}}
    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">        
        <div class="mt-2 w-fit form-control">
            <p class="px-2 ml-1 rounded text-warning-content bg-warning">The settings for this system-level resource cannot be changed.</p>
        </div>        
    </div>
    {{end}}

   <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">

      <div class="w-full h-full pb-6 bg-base-100"> 

            <div class="w-full form-control">
                <label class="label">
                    <span class="label-text text-base-content">Resource</span>
                    
                </label>
                <input id="resource" readonly disabled type="text" name="resource" value="{{.resourceIdentifier}}{{if .resourceDescription}} - {{.resourceDescription}}{{end}}"
                    class="w-full input input-bordered " autocomplete="off" />
            </div>           

            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        <span class="inline-block align-middle">Permission identifier</span>
                        <div class="tooltip tooltip-top"
                            data-tip="A unique identifier assigned to the permission.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="permissionIdentifier" type="text" name="permissionIdentifier" value="{{.permissionIdentifier}}"
                    class="w-full input input-bordered" autocomplete="off" {{if .isSystemLevelResource}}readonly{{end}} />
            </div>

            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Permission description
                        <div class="tooltip tooltip-top"
                            data-tip="Free-text description of the permission.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="permissionDescription" type="text" name="permissionDescription" value="{{.permissionDescription}}"
                    class="w-full input input-bordered" autocomplete="off" {{if .isSystemLevelResource}}readonly{{end}}  />
            </div>      

            <div id="createPermissionActionPanel" class="mt-3">
                <div class="flex justify-between">
                    <div>                        
                    </div>
                    <div>
                        <span id="loadingIcon1" class="hidden w-5 h-5 mr-2 align-middle text-primary"></span>
                        <button onclick="createPermission(event, this);"  {{if .isSystemLevelResource}}disabled{{end}} 
                            class="inline-block align-middle btn btn-secondary btn-sm">Create permission</button>
                    </div>                    
                </div>
            </div>

            <div id="updatePermissionActionPanel" class="hidden mt-3">
                <div class="flex justify-between">
                    <div>
                        <a class="ml-1 link link-secondary link-hover w-fit" onclick="cancelEdit(event, this);">Cancel edit</a>
                    </div>
                    <div>
                        <span id="loadingIcon2" class="hidden w-5 h-5 mr-2 align-middle text-primary"></span>
                        <button id="updatePermissionButton" onclick="updatePermission(event, this);"  {{if .isSystemLevelResource}}disabled{{end}} 
                            class="inline-block align-middle btn btn-secondary btn-sm">Update permission</button>
                    </div>
                </div>
            </div>

            <div class="w-full mt-5">
                <table id="permissionsTable" class="table">
                        <thead>
                            <tr>
                                <th class="p-1 text-lg">Permission identifier</th>
                                <th class="p-1 text-lg">Permission description</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                </table>
            </div>

      </div>

   </div>

    <div class="grid grid-cols-1 gap-6 mt-4 lg:grid-cols-2">
        <div>
            {{if .error}}
            <div class="mb-4 text-right text-error">
                <p>{{.error}}</p>
            </div>
            {{end}}

            {{if .savedSuccessfully}}
            <div class="mb-4 text-right text-success">
                <p>&#10004; Resource permissions saved successfully</p>
            </div>
            {{end}}

            <div class="flex justify-between w-full">
                <div>
                    <a class="link-secondary" href="/admin/resources">
                        <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                        </svg>
                        <span class="ml-1 align-middle">Back to list of resources</span>
                    </a>
                </div>

                <div>
                    <div class='text-right'>
                        <span id="loadingIcon" class="hidden w-5 h-5 mr-2 align-middle text-primary">&nbsp;</span>
                        {{if not .isSystemLevelResource}}
                            <button id="btnSave" class="inline-block align-middle btn btn-primary">Save</button>
                        {{end}}                        
                    </div>
                </div>
            </div>
            {{ .csrfField }}

        </div>
    </div>

</form>

{{template "modal_dialog" (args "modal0" "close" ) }}

{{end}}