{{define "title"}}{{ .appName }} - Resource - {{.resourceIdentifier}} - users with permission{{end}}
{{define "pageTitle"}}Resource - <span class="text-accent">{{.resourceIdentifier}}</span> - users with permission{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const permissionSelect = document.getElementById("permissionSelect");
        permissionSelect.addEventListener("change", function() {
            const permissionId = permissionSelect.value;
            const url = "/admin/resources/{{.resourceId}}/users-with-permission/?permission=" + permissionId + "&page=1";
            window.location.href = url;
        });        
    });

    function removeUser(elem, evt, id, email) {
        evt.preventDefault();
        const groupIdentifier = "{{.groupIdentifier}}";
        
        showModalDialog("modal1", "Remove permission from user", "Are you sure that you want to remove permission <span class='text-accent'>" + 
            {{.resourceIdentifier}} + ":" + {{.selectedPermissionIdentifier}} + 
            "</span> from user <span class='text-accent'>" + email + "</span>?",
            function() {},
            function() {
                
                var loadingElement = document.getElementById("loading" + id);

                sendAjaxRequest({
                    "url": "/admin/resources/{{.resourceId}}/users-with-permission/remove/" + id + "/{{.selectedPermission}}",
                    "method": "POST",
                    "bodyData": null,
                    "loadingElement": loadingElement,
                    "loadingClasses": ["loading", "loading-xs"],
                    "modalId": "modal0",
                    "callback": function(result) {
                        
                        if(result.Success) {
                            const removed = document.createElement("span");
                            removed.setAttribute("class", "px-2 rounded text-error-content bg-error");
                            removed.innerHTML = "Removed";
                            elem.parentNode.replaceChild(removed, elem);         
                        }
                    }
                });

        });
    }
                           
        
</script>

{{end}}

{{define "body"}}

{{template "manage_resources_tabs" (args "users-with-permission" .resourceId) }}

    {{ .csrfField }}

    {{if gt (len .permissions) 0}}

        <div class="flex items-center justify-between mt-6">
            <div class="">
                <div class="w-full form-control">
                    <label class="cursor-pointer label">
                        <span class="label-text">
                            Resource permission                        
                        </span>
                    </label>                
                    <select id="permissionSelect" class="select select-bordered" name="permission">
                        {{ $selectedPerm := .selectedPermission }}
                        {{ $resIdentifier := .resourceIdentifier }}                    
                        {{range .permissions}}
                            <option value="{{.Id}}" {{if eq $selectedPerm .Id}}selected{{end}}>{{$resIdentifier}} - {{.PermissionIdentifier}}{{if .Description}} ({{.Description}}){{end}}</option>
                        {{end}}
                    </select>                
                </div>            
            </div>
            <div class="mr-14">
                <a class="mr-4 btn btn-primary btn-sm" href="/admin/resources/{{.resourceId}}/users-with-permission/add/{{.selectedPermission}}?page={{.pageResult.Page}}">Grant permission to user</a>
            </div>
        </div>    

        <div class="grid grid-cols-1 gap-6 mt-6">

            <div class="w-full h-full pb-6 bg-base-100">            
                <table id="usersTable" class="table mt-2">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Given name</th>
                            <th>Middle name</th>
                            <th>Family name</th>
                            <th class="w-52">Remove permission</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .pageResult.Users}}
                            <tr>
                                <td>{{.Subject}}</td>
                                <td>{{.Username}}</td>
                                <td><a href="/admin/users/{{.Id}}/details" class="link link-hover link-secondary">{{.Email}}</a></td>
                                <td>{{.GivenName}}</td>
                                <td>{{.MiddleName}}</td>
                                <td>{{.FamilyName}}</td>
                                <td class="w-52">                                
                                    <button onclick="removeUser(this, event, {{.Id}}, '{{.Email}}');" class="inline-block align-middle btn-xs btn btn-primary">Remove permission</button>
                                    <span id="loading{{.Id}}" class="hidden w-5 h-5 mr-1 align-middle text-primary">&nbsp;</span>
                                </td>
                            </tr>
                        {{end}}
                        {{if eq (len .pageResult.Users) 0}}
                            <tr>
                                <td colspan="7" class="text-center"><span class='p-1 rounded text-warning-content bg-warning'>No users have been assigned the selected permission.</span></td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                
            </div>

        </div>  

        <div class="flex justify-between mt-8">
            <div>
                <a class="link-secondary" href="/admin/resources">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of resources</span>
                </a>
            </div>
            <div class="mr-14">    
                {{template "paginator" (args .paginator (printf "/admin/resources/%v/users-with-permission?permission=%v" .resourceId .selectedPermission)) }}
            </div>
        </div> 

    {{else}}
    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">        

        <div class="w-full h-full pb-6 bg-base-100">
            <p><span class=''>No permissions have been assigned to the resource.</span></p>
        </div>

    </div>
    {{end}}

{{template "modal_dialog" (args "modal0" "close" ) }}
{{template "modal_dialog" (args "modal1" "yes_no" ) }}

{{end}}

