{{define "title"}}{{ .appName }} - {{ T $.ctx "account.activation.page_title" }}{{end}}
{{define "head"}}

{{end}}

{{define "body"}}

    <h2 class='mb-2 text-xl font-semibold text-center'>{{ T $.ctx "account.activation.title" }}</h2>

    <div class="mb-3">

        <div class="w-full mt-4 form-control">
            <p>{{ T $.ctx "account.activation.account_created" }}</p>
            <p class="mt-2">{{ T $.ctx "account.activation.must_activate_prefix" }}<span class="text-accent">{{ T $.ctx "account.activation.must_activate_inner" }}</span>{{ T $.ctx "account.activation.must_activate_suffix" }}</p>
            <p class="mt-2">{{ T $.ctx "account.activation.check_inbox" }}</p>
        </div>

    </div>

{{end}}
