{{define "title"}}{{ .appName }} - Register{{end}}
{{define "head"}}


{{end}}

{{define "body"}}

    <h2 class='mb-2 text-xl font-semibold text-center'>Register</h2>

    <div class="mb-3">

        <div class="w-full mt-4 form-control">
            <p>Your account has been created.</p>
            <p class="mt-2">If you wish, <a class="inline-block transition duration-200 text-primary hover:text-primary hover:underline hover:cursor-pointer"
                href="{{.adminConsoleBaseUrl}}/account/profile">click here</a> to login and access your account page.</p>
        </div>

    </div>

{{end}}
