{{define "title"}}{{ .appName }} - {{ T $.ctx "forgot_password.page_title" }}{{end}}
{{define "head"}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {{if .linkSent}}
            showModalDialog("modal1", "{{ T $.ctx "forgot_password.modal_title" }}", "{{ T $.ctx "forgot_password.modal_body" }}");
        {{end}}
    });
</script>
{{end}}

{{define "body"}}

    <h2 class='mb-2 text-xl font-semibold text-center'>{{ T $.ctx "forgot_password.title" }}</h2>
    <form action="" method="post">

        <div class="mb-3">

            <p class="mt-5">{{ T $.ctx "forgot_password.instructions" }}</p>

            <div class="w-full mt-6 form-control">
                <label class="label">
                    <span class="label-text text-base-content">{{ T $.ctx "common.field.email" }}</span>
                </label>
                <input type="text" name="email" value="{{.email}}" placeholder="{{ T $.ctx "common.field.email_placeholder" }}"
                    class="w-full input input-bordered" autocomplete="off" autofocus />
            </div>

        </div>

        {{if .error}}
            <p class="mt-8 text-center text-error">{{.error}}</p>
        {{end}}

        <button class="w-full mt-2 btn btn-primary">{{ T $.ctx "forgot_password.button" }}</button>

        {{ .csrfField }}

    </form>

{{template "modal_dialog" (args "modal1" "close" $.ctx) }}

{{end}}
