{{define "title"}}{{ .appName }} - {{ T $.ctx "logout_consent.page_title" }}{{end}}
{{define "head"}}

<script>
    function NoBtnClick(elem, evt) {
        event.preventDefault();

        history.back();
    }
</script>

{{end}}

{{define "body"}}

    <h2 class='mb-2 text-xl font-semibold text-center'>{{ T $.ctx "logout_consent.title" }}</h2>
    <form action="" method="post">

        <div class="mt-5">

            <p>{{ T $.ctx "logout_consent.confirm" }}</p>

        </div>

        {{if .error}}
            <p class="mt-8 text-center text-error">{{.error}}</p>
        {{else}}
            <p class="mt-6">&nbsp;</p>
        {{end}}

        <div class="grid grid-cols-2 gap-3">
            <button class="w-full mt-2 btn btn-secondary" onclick="NoBtnClick(this, event);">{{ T $.ctx "common.button.no" }}</button>
            <button class="w-full mt-2 btn btn-primary">{{ T $.ctx "common.button.yes" }}</button>
        </div>

        {{ .csrfField }}

    </form>

{{end}}
