{{define "title"}}{{ .appName }} - Set password{{end}}
{{define "head"}}
<script>
    document.addEventListener('DOMContentLoaded', function () {       

        {{if .passwordReset}}         
            showModalDialog("modal1", "Password set", "Your password has been successfully set.", function() {
                window.location.href = '{{.adminConsoleBaseUrl}}/account/profile';
            });
        {{end}}
    }); 
</script>
{{end}}

{{define "body"}}

    <h2 class='mb-2 text-xl font-semibold text-center'>Set password</h2>
    <form action="" method="post">
        
        {{if .codeInvalidOrExpired}}
            <p class="mt-8 text-center text-error">Unable to set the password. The verification code appears to be invalid or expired. Please <a href="/forgot-password"><span
                class="inline-block transition duration-200 hover:text-primary hover:underline hover:cursor-pointer">click this link</span></a> and attempt the verification process again.</p>
        {{else}}
            <div class="mb-3">

                <div class="w-full mt-4 form-control">
                    <label class="label">
                        <span class="label-text text-base-content">Password</span>
                    </label>
                    <input type="password" name="password" value="" placeholder="" 
                        class="w-full input input-bordered" autofocus />
                </div>

                <div class="w-full mt-4 form-control">
                    <label class="label">
                        <span class="label-text text-base-content">Password confirmation</span>
                    </label>
                    <input type="password" name="passwordConfirmation" value="" placeholder="" class="w-full input input-bordered" />
                </div>

            </div>

            {{if .error}}
                <p class="mt-8 text-center text-error">{{.error}}</p>
            {{end}}

            <button class="w-full mt-4 btn btn-primary">Set my password</button>                  

            {{ .csrfField }}
        {{end}}

    </form>

{{template "modal_dialog" (args "modal1" "close") }}

{{end}}