{{define "title"}}{{ .appName }} - {{ T $.ctx "reset_password.page_title" }}{{end}}
{{define "head"}}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        {{if .passwordReset}}
            showModalDialog("modal1", "{{ T $.ctx "reset_password.modal_title" }}", "{{ T $.ctx "reset_password.modal_body" }}", function() {
                window.location.href = '{{.adminConsoleBaseUrl}}/account/profile';
            });
        {{end}}
    });
</script>
{{end}}

{{define "body"}}

    <h2 class='mb-2 text-xl font-semibold text-center'>{{ T $.ctx "reset_password.title" }}</h2>
    <form action="" method="post">

        {{if .codeInvalidOrExpired}}
            <p class="mt-8 text-center text-error">{{ T $.ctx "reset_password.code_invalid_prefix" }}<a href="/forgot-password"><span
                class="inline-block transition duration-200 hover:text-primary hover:underline hover:cursor-pointer">{{ T $.ctx "reset_password.code_invalid_link" }}</span></a>{{ T $.ctx "reset_password.code_invalid_suffix" }}</p>
        {{else}}
            <div class="mb-3">

                <div class="w-full mt-4 form-control">
                    <label class="label">
                        <span class="label-text text-base-content">{{ T $.ctx "common.field.password" }}</span>
                    </label>
                    <input type="password" name="password" value="" placeholder=""
                        class="w-full input input-bordered" autofocus />
                </div>

                <div class="w-full mt-4 form-control">
                    <label class="label">
                        <span class="label-text text-base-content">{{ T $.ctx "common.field.password_confirmation" }}</span>
                    </label>
                    <input type="password" name="passwordConfirmation" value="" placeholder="" class="w-full input input-bordered" />
                </div>

            </div>

            {{if .error}}
                <p class="mt-8 text-center text-error">{{.error}}</p>
            {{end}}

            <button class="w-full mt-4 btn btn-primary">{{ T $.ctx "reset_password.button" }}</button>

            {{ .csrfField }}
        {{end}}

    </form>

{{template "modal_dialog" (args "modal1" "close" $.ctx) }}

{{end}}
