<!DOCTYPE html>
<html lang="en" data-theme="{{if .uiTheme}}{{.uiTheme}}{{else}}dark{{end}}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{template "title" .}}</title>  
  
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5.5.8" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5.5.8/themes.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/static/main.css" />
  <script src="/static/utils.js"></script>  

  <link rel="icon" href="/static/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">  

  {{template "head" .}}
</head>

<body>
  {{template "body" .}}
</body>

{{versionComment}}
</html>