{{define "title"}}{{ .appName }} - Resource - {{.resourceIdentifier}} - groups with permission{{end}}
{{define "pageTitle"}}Resource - <span class="text-accent">{{.resourceIdentifier}}</span> - groups with permission{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const permissionSelect = document.getElementById("permissionSelect");
        permissionSelect.addEventListener("change", function() {
            const permissionId = permissionSelect.value;
            const url = "/admin/resources/{{.resourceId}}/groups-with-permission/?permission=" + permissionId + "&page=1";
            window.location.href = url;
        });        
    });

    function addPermission(elem, evt, id, groupIdentifier) {
        evt.preventDefault();        
        
        showModalDialog("modal1", "Add permission to group", "Are you sure that you want to add permission <span class='text-accent'>" + 
            {{.resourceIdentifier}} + ":" + {{.selectedPermissionIdentifier}} + 
            "</span> to group <span class='text-accent'>" + groupIdentifier + "</span>?",
            function() {},
            function() {
                
                var loadingElement = document.getElementById("loading" + id);

                sendAjaxRequest({
                    "url": "/admin/resources/{{.resourceId}}/groups-with-permission/add/" + id + "/{{.selectedPermission}}",
                    "method": "POST",
                    "bodyData": null,
                    "loadingElement": loadingElement,
                    "loadingClasses": ["loading", "loading-xs"],
                    "modalId": "modal0",
                    "callback": function(result) {
                        
                        if(result.Success) {
                            const hasPermissionTd = document.getElementById("hasPermission" + groupIdentifier);
                            const buttonsTd = document.getElementById("buttons" + groupIdentifier);
                            
                            var button = document.createElement("button");
                            button.setAttribute("class", "inline-block align-middle btn-xs btn btn-primary");
                            button.innerHTML = "Remove permission";

                            button.onclick = function(event) {
                                removePermission(this, event, id, groupIdentifier);
                            };
                            
                            buttonsTd.innerHTML = "";
                            buttonsTd.appendChild(button);                            

                            const yes = document.createElement("span");
                            yes.setAttribute("class", "px-2 rounded text-success-content bg-success");
                            yes.innerHTML = "Yes";

                            hasPermissionTd.innerHTML = "";
                            hasPermissionTd.appendChild(yes);
                        }
                    }
                });

        });
    }
    
    function removePermission(elem, evt, id, groupIdentifier) {
        evt.preventDefault();        
        
        showModalDialog("modal1", "Remove permission from group", "Are you sure that you want to remove permission <span class='text-accent'>" + 
            {{.resourceIdentifier}} + ":" + {{.selectedPermissionIdentifier}} + 
            "</span> from group <span class='text-accent'>" + groupIdentifier + "</span>?",
            function() {},
            function() {
                
                var loadingElement = document.getElementById("loading" + id);

                sendAjaxRequest({
                    "url": "/admin/resources/{{.resourceId}}/groups-with-permission/remove/" + id + "/{{.selectedPermission}}",
                    "method": "POST",
                    "bodyData": null,
                    "loadingElement": loadingElement,
                    "loadingClasses": ["loading", "loading-xs"],
                    "modalId": "modal0",
                    "callback": function(result) {
                        
                        if(result.Success) {
                            const hasPermissionTd = document.getElementById("hasPermission" + groupIdentifier);
                            const buttonsTd = document.getElementById("buttons" + groupIdentifier);
                            
                            var button = document.createElement("button");
                            button.setAttribute("class", "inline-block align-middle btn-xs btn btn-primary");
                            button.innerHTML = "Grant permission";

                            button.onclick = function(event) {
                                addPermission(this, event, id, groupIdentifier);
                            };
                            
                            buttonsTd.innerHTML = "";
                            buttonsTd.appendChild(button);                            

                            const no = document.createElement("span");
                            no.setAttribute("class", "px-2 rounded text-neutral-content bg-neutral");
                            no.innerHTML = "No";

                            hasPermissionTd.innerHTML = "";
                            hasPermissionTd.appendChild(no);
                        }
                    }
                });

        });
    }
        
</script>

{{end}}

{{define "body"}}

{{template "manage_resources_tabs" (args "groups-with-permission" .resourceId) }}

    {{ .csrfField }}

    <div class="flex items-center justify-between mt-6">
        <div class="">
            <div class="w-full form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">
                        Resource permission                        
                    </span>
                </label>                
                <select id="permissionSelect" class="select select-bordered" name="permission">
                    {{ $selectedPerm := .selectedPermission }}
                    {{ $resIdentifier := .resourceIdentifier }}                    
                    {{range .permissions}}
                        <option value="{{.Id}}" {{if eq $selectedPerm .Id}}selected{{end}}>{{$resIdentifier}} - {{.PermissionIdentifier}} ({{.Description}})</option>
                    {{end}}
                </select>                
            </div>            
        </div>
        <div class="mr-14">            
        </div>
    </div>    

    <div class="grid grid-cols-1 gap-6 mt-2">       

        <div class="w-full h-full pb-6 bg-base-100">            
            <table id="groupsTable" class="table mt-2">
                <thead>
                    <tr>
                        <th>Group identifier</th>
                        <th>Description</th>
                        <th>Has permission</th>
                        <th class="w-52">Add/remove permission</th>                      
                    </tr>
                </thead>
                <tbody>
                    {{range .pageResult.Groups}}
                        <tr>
                            <td><a href="/admin/groups/{{.Id}}/settings" class="link link-hover link-secondary">{{.GroupIdentifier}}</a></td>
                            <td>{{.Description}}</td>  
                            <td id="hasPermission{{.GroupIdentifier}}">
                                {{if .HasPermission}}
                                    <span class="px-2 rounded text-success-content bg-success">Yes</span>
                                {{else}}
                                    <span class="px-2 rounded text-neutral-content bg-neutral">No</span>
                                {{end}}
                            </td>       
                            <td class="w-52" id="buttons{{.GroupIdentifier}}">      
                                {{if .HasPermission}}
                                    <button onclick="removePermission(this, event, {{.Id}}, '{{.GroupIdentifier}}');" class="inline-block align-middle btn-xs btn btn-primary">Remove permission</button>
                                    <span id="loading{{.Id}}" class="hidden w-5 h-5 mr-1 align-middle text-primary">&nbsp;</span>
                                {{else}}                          
                                    <button onclick="addPermission(this, event, {{.Id}}, '{{.GroupIdentifier}}');" class="inline-block align-middle btn-xs btn btn-primary">Grant permission</button>
                                    <span id="loading{{.Id}}" class="hidden w-5 h-5 mr-1 align-middle text-primary">&nbsp;</span>
                                {{end}}                                
                            </td>
                        </tr>
                    {{end}}
                    {{if eq (len .pageResult.Groups) 0}}
                        <tr>
                            <td colspan="7" class="text-center"><span class='p-1 rounded text-warning-content bg-warning'>No groups have been assigned the selected permission.</span></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            
        </div>

    </div>  

    <div class="flex justify-between mt-8">
        <div>
            <a class="link-secondary" href="/admin/resources">
                <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                <span class="ml-1 align-middle">Back to list of resources</span>
            </a>
        </div>
        <div class="mr-14">    
            {{template "paginator" (args .paginator (printf "/admin/resources/%v/groups-with-permission?permission=%v" .resourceId .selectedPermission)) }}
        </div>
    </div> 

{{template "modal_dialog" (args "modal0" "close" ) }}
{{template "modal_dialog" (args "modal1" "yes_no" ) }}

{{end}}

