{{define "title"}}{{ .appName }} - Settings - SMS{{end}}
{{define "pageTitle"}}Settings{{end}}
{{define "subTitle"}}
    <div class="text-xl font-semibold">Settings - SMS</div>
    <div class="mt-2 divider"></div> 
{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const providerNone = document.getElementById('providerNone');
        const providerTwilio = document.getElementById('providerTwilio');
        providerNone.addEventListener('change', function () {
            refreshVisibility();
        });
        providerTwilio.addEventListener('change', function () {
            refreshVisibility();
        });
        refreshVisibility();
    });   

    function refreshVisibility() {
        const provider = document.querySelector('input[name="provider"]:checked');
        if(provider) {            
            const providerNonePanel = document.querySelector('.providerNonePanel');
            const providerTwilioPanel = document.querySelector('.providerTwilioPanel');
            if(provider.value === '') {
                providerNonePanel.classList.remove('hidden');
                providerTwilioPanel.classList.add('hidden');
            } else if(provider.value === 'twilio') {
                providerNonePanel.classList.add('hidden');
                providerTwilioPanel.classList.remove('hidden');
                setTimeout(function() {
                    document.getElementById('twilioAccountSID').focus();
                }, 100);
            }
        }        
    }
</script>

{{end}}

{{define "body"}}

<form method="post">   

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <div class="">
            <p>Please select your SMS provider:</p>
            <div class="py-4">
                <input type="radio" id="providerNone" name="provider" class="align-middle radio" value="" {{if eq .settings.SMSProvider ""}}checked{{end}} /> <label class="align-middle" for="providerNone">None</label>
                <input type="radio" id="providerTwilio" name="provider" class="ml-3 align-middle radio" value="twilio" {{if eq .settings.SMSProvider "twilio"}}checked{{end}} /> <label class="align-middle" for="providerTwilio">Twilio</label>                                
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <div class="providerNonePanel" class="hidden">
            <p class="mt-2">The SMS features, including phone number verification, will be <span class="text-accent">disabled</span>.</p>            
        </div>

        <div class="providerTwilioPanel" class="hidden">
            <div class="w-full form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Account SID                        
                    </span>
                </label>
                <input id="twilioAccountSID" type="text" name="twilioAccountSID" value="{{.settings.TwilioConfig.AccountSID}}"
                    class="w-full input input-bordered " autocomplete="off" />
            </div>  
            
            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Auth token
                    </span>
                </label>
                <input id="twilioAuthToken" type="text" name="twilioAuthToken" value="{{.settings.TwilioConfig.AuthToken}}"
                    class="w-full input input-bordered " autocomplete="off" />
            </div>     

            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Twilio phone number
                    </span>
                </label>
                <input id="twilioFrom" type="text" name="twilioFrom" value="{{.settings.TwilioConfig.From}}"
                    class="w-full input input-bordered " autocomplete="off" />
            </div>     
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}            
            {{ .csrfField }}
            {{if .savedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Settings saved successfully</p>
                </div>
            {{end}}                        
            <div class="float-right">                
                <button id="btnSave" class="btn btn-primary">Save</button>                
            </div>            
        </div>
    </div>

</form>

{{end}}