{{define "nav"}}

<div class="border p-2 rounded-box col-span-5 md:col-span-1">
  <h4 class="text-xl font-bold text-center">Account</h4>
  <ul class="menu menu-horizontal">
    <li class="text-lg"><a href="/account/profile" {{if eq . "profile"}}class="active"{{end}}><i class="gg-profile"></i> Profile</a></li>
    <li class="text-lg"><a href="/account/email" {{if eq . "email"}}class="active"{{end}}><i class="gg-mail"></i> Email</a></li>
    <li class="text-lg"><a href="/account/address" {{if eq . "address"}}class="active"{{end}}><i class="gg-home"></i> Address</a></li>
    <li class="text-lg"><a href="/account/phone" {{if eq . "phone"}}class="active"{{end}}><i class="gg-smartphone"></i> Phone</a></li>
  </ul>
</div>

{{end}}