{{define "left_panel"}}

<div class='hidden md:block'>
    <div class="min-h-full hero rounded-l-xl bg-base-200">
        <div class="px-16 py-12 hero-content">
            <div class="max-w-md ">

                <h1 class='text-3xl font-bold text-center '>{{ .appName }}</h1>

                <div class="mt-12 text-center">
                    <img src="{{.leftPanelImage}}" alt="Random authentication image" class="inline-block w-48 rounded-lg"></img>                    
                </div>

                <h1 class="mt-8 text-2xl font-bold">OAuth2 / OpenID Connect server</h1>
                <p class="py-2 mt-4">✓ Manage your <span class="font-semibold">users</span>, <span class="font-semibold">groups</span> and <span class="font-semibold">permissions</span></p>
                <p class="py-2">✓ Secure your <span class="font-semibold">applications</span> and <span class="font-semibold">server-to-server</span> exchanges</p>
                <p class="py-2 ">✓ 100% <span class="font-semibold">free</span> and <span class="font-semibold">open source</span></p>
                <p class="py-2 ">✓ User-friendly <span class="font-semibold">documentation</span> and <span class="font-semibold">UI</span></p>

            </div>
        </div>
    </div>
</div>

{{end}}