{{define "manage_groups_tabs"}}

{{ $type := index . 0 }}
{{ $id := index . 1 }}

<div class="mt-2 tabs">
    <a href="/admin/groups/{{$id}}/settings" class="tab tab-bordered {{if eq $type "settings"}}tab-active{{end}}">Settings</a>
    <a href="/admin/groups/{{$id}}/attributes" class="tab tab-bordered {{if eq $type "attributes"}}tab-active{{end}}">Attributes</a>
    <a href="/admin/groups/{{$id}}/permissions" class="tab tab-bordered {{if eq $type "permissions"}}tab-active{{end}}">Permissions</a>
    <a href="/admin/groups/{{$id}}/users-in-group" class="tab tab-bordered {{if eq $type "users-in-group"}}tab-active{{end}}">Users in group</a>    
</div>

{{end}}