{{define "manage_users_tabs"}}

{{ $type := index . 0 }}
{{ $id := index . 1 }}
{{ $page := index . 2 }}
{{ $query := index . 3 }}

<div class="mt-2 tabs">
    <a href="/admin/users/{{$id}}/details?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "details"}}tab-active{{end}}">Details</a>
    <a href="/admin/users/{{$id}}/profile?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "profile"}}tab-active{{end}}">Profile</a>
    <a href="/admin/users/{{$id}}/email?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "email"}}tab-active{{end}}">Email</a>
    <a href="/admin/users/{{$id}}/phone?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "phone"}}tab-active{{end}}">Phone</a>
    <a href="/admin/users/{{$id}}/address?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "address"}}tab-active{{end}}">Address</a>
    <a href="/admin/users/{{$id}}/security?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "security"}}tab-active{{end}}">Security</a>
    <a href="/admin/users/{{$id}}/consents?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "consents"}}tab-active{{end}}">Consents</a>
    <a href="/admin/users/{{$id}}/sessions?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "sessions"}}tab-active{{end}}">Sessions</a>
    <a href="/admin/users/{{$id}}/permissions?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "permissions"}}tab-active{{end}}">Permissions</a>
    <a href="/admin/users/{{$id}}/groups?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "groups"}}tab-active{{end}}">Groups</a>
</div>

{{end}}