{{define "title"}}{{ .appName }} - Account - Phone verification{{end}}
{{define "pageTitle"}}Account - Phone verification{{end}}

{{define "subTitle"}}
    <div class="text-xl font-semibold">Validate SMS code</div>
    <div class="mt-2 divider"></div> 
{{end}}

{{define "menu"}}
    {{template "account_menu" . }}
{{end}}

{{define "head"}}

<script>
    
</script>

{{end}}

{{define "body"}}

<form action="/account/phone-verify" method="post">

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <div>
            <p>Kindly check your mobile phone for an SMS message containing a code, and confirm the code provided below.</p>
        </div>
    </div>
    
    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    Code
                </span>
            </label>
            <input type="text" id="code" name="code" placeholder="123456" autofocus
                class="w-full input input-bordered" value="" autocomplete="off" />
        </div>

    </div>    

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="mt-6">
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            {{ .csrfField }}            
            <button class="float-right btn btn-primary">Verify phone</button>
        </div>

    </div>

</form>

{{end}}