{{define "title"}}{{ .appName }} - Account - Phone{{end}}
{{define "pageTitle"}}Account - Phone{{end}}
{{define "subTitle"}}Update and verify your phone{{end}}
{{define "head"}}

<script>        

    function sendVerificationCode(evt) {

        evt.preventDefault();

        const linkVerifyYourPhone = document.getElementById("linkVerifyYourPhone");

        if(linkVerifyYourPhone.dataset.clicked == "true") {
            return;
        }       
        
        linkVerifyYourPhone.dataset.clicked = "true";

        try {
            fetch("/account/phone-send-verification", {
                method: "POST",
                body: JSON.stringify({}),
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                    "X-CSRF-Token": document.getElementsByName("gorilla.csrf.Token")[0].value
                }
            })
            .then((response) => {

                if (!response.ok) {
                    response.json().then(err => { showModalDialog("modal1", "Server error", err.error_description); })                    
                } else {
                    return response.json()
                }
            })
            .then((result) => {

                linkVerifyYourPhone.dataset.clicked = "false";

                if(result.RequiresAuth) {
                    showModalDialog("modal1", "Session expired", "Your authentication session has expired. To continue, please refresh the page and re-authenticate to start a new session.");
                } else if(result.PhoneVerified) {
                    showModalDialog("modal1", "Phone is already verified", "It appears that your phone is already verified. You may want to refresh the page to view the updated status.");
                } else if(result.TooManyRequests) {
                    showModalDialog("modal1", "Too many requests", "A request to send a verification code was made recently. Please wait for <span class='text-accent'>" + result.WaitInSeconds + "</span> seconds before requesting another one.");
                } else if(result.PhoneVerificationSent) {
                    window.location.href = '/account/phone-verify';
                }

            });
        } catch (error) {
            showModalDialog("modal1", "Error", "An unexpected error has occurred: " + error);
        }
    }
</script>

{{end}}

{{define "body"}}

<form id="form-phone" action="/account/phone" method="post">
    
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    Phone country                    
                </span>
            </label>
            <select class="w-full select select-bordered country-flags" name="phoneCountry">
                {{ $phone := .accountPhone }}
                <option value="" {{ if eq $phone.PhoneNumberCountry "" }}selected{{ end }}>(blank)</option>                            
                {{range .phoneCountries}}
                    <option class="country-flags" value="{{.Code}}" {{ if eq $phone.PhoneNumberCountry .Code }}selected{{ end }}>{{.Name}}</option>
                {{end}}
            </select>     
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    Phone number                    
                    {{if .smsEnabled}}
                        <div class="ml-1 tooltip tooltip-top before:text-lg before:ml-16 before:mb-3" data-tip="Verification is available only for mobile numbers capable of receiving SMS.">
                            <svg class="absolute w-6 h-6 cursor-pointer -top-[16px]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>   
                        {{ if and (.accountPhone.PhoneNumberVerified) (.accountPhone.PhoneNumber)}}
                            <span class="p-[4px] ml-8 rounded-lg text-success-content bg-success">
                                <svg class="inline w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                                Your phone is verified
                            </span>
                        {{end}}
                        {{ if and (not .accountPhone.PhoneNumberVerified) (.accountPhone.PhoneNumber)}}
                            <span class="p-[4px] ml-8 rounded-lg text-warning-content bg-warning">
                                <svg class="inline w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                                </svg>
                                Phone verification pending
                            </span>     
                        {{end}}                        
                    {{end}}
                    
                </span>
            </label>
            <input type="text" id="phoneNumber" name="phoneNumber" 
                class="w-full input input-bordered" value="{{.accountPhone.PhoneNumber}}" />
            {{ if .smsEnabled}}
                {{ if and (not .accountPhone.PhoneNumberVerified) (.accountPhone.PhoneNumber)}}
                    <div class='text-right text-primary'>
                        <a href="#" onclick="sendVerificationCode(event);">
                            <span id="linkVerifyYourPhone" class="inline-block text-sm transition duration-200 hover:text-primary hover:underline hover:cursor-pointer">
                                Verify your phone
                            </span>
                        </a>
                    </div>
                {{end}}
            {{end}}
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="mt-6">
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error.Description}}</p>
                </div>
            {{end}}
            {{ .csrfField }}
            {{if .phoneSavedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Phone number updated successfully</p>
                </div>
            {{end}}
            <button class="float-right btn btn-primary">Update phone</button>
        </div>

    </div>

</form>

{{template "modal_dialog" (args "modal1" "close") }}

{{end}}