{{define "title"}}{{ .appName }} - Account - Sessions{{end}}
{{define "pageTitle"}}Account - Sessions{{end}}
{{define "subTitle"}}Sessions{{end}}
{{define "menu"}}
    {{template "account_menu" . }}
{{end}}

{{define "head"}}

<script>

    function endSessionClick(evt, userSessionId, device, isCurrent) {

        let msg = "Would you like to end the session on device <span class='text-accent'>" + device + "</span>?";
        if(isCurrent) {
            msg += " <br /><br />Be aware that ending your current session will result in an immediate logout.";
        }
        showModalDialog("modal1", "Are you sure?", msg,
            function() {
                // no button
            },
            function() {
                // yes button
                try {
                    fetch("/account/sessions", {
                        method: "POST",
                        body: JSON.stringify({
                            "userSessionId": userSessionId
                        }),
                        headers: {
                            "Content-type": "application/json; charset=UTF-8",
                            "X-CSRF-Token": document.getElementsByName("gorilla.csrf.Token")[0].value
                        }
                    })
                    .then((response) => {
                        if (!response.ok) {
                            response.text().then(text => {
                                try{
                                    const err = JSON.parse(text);
                                    showModalDialog("modal2", "Server error", err.error_description);
                                } catch(err) {
                                    showModalDialog("modal2", "Error", "An unexpected error has occurred: <span class='text-error'>" + response.status + "</span>. Please refresh the page and try again.");
                                }                        
                            });
                        } else {
                            return response.json()
                        }
                    })
                    .then((result) => {

                        if(result !== undefined && result.SessionDeletedSuccessfully) {
                            window.location.href = "/account/sessions";
                        }
                    });
                } catch (error) {
                    showModalDialog("modal2", "Error", "An unexpected error has occurred: " + error);
                }
            });
    }

</script>

{{end}}

{{define "body"}}
    
    {{ .csrfField }}

    <p>When you authenticate on a device, a session is created to enable a single sign-on (SSO) experience across multiple applications.</p>   
    <p class="mt-2">For added security, you have the option to end sessions on devices other than the current one.</p>

    <div class="w-full mt-4 overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>Device</th>
                <th>IP address</th>
                <th>Started at</th>
                <th>Last accessed at</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {{ range .sessions }}
                    <tr>
                        <td>{{.DeviceName}} {{.DeviceType}} {{.DeviceOS}}
                            {{ if .IsCurrent }}
                                <br /><span class="text-accent">Current session</span>
                            {{end}}
                        </td>
                        <td>{{.IpAddress}}</td>
                        <td>{{.StartedAt}}<br />{{.DurationSinceStarted}} ago</td>
                        <td>{{.LastAcessedAt}}<br />{{.DurationSinceLastAccessed}} ago</td>
                        <td>
                            <button class="btn btn-sm btn-primary" onclick="endSessionClick(this, {{.UserSessionID}}, '{{.DeviceName}} {{.DeviceType}} {{.DeviceOS}}', {{.IsCurrent}});">End session</button>                            
                        </td> 
                    </tr>                
                {{end}}
            </tbody>
        </table>        
    </div>


    {{template "modal_dialog" (args "modal1" "yes_no") }}
    {{template "modal_dialog" (args "modal2" "close") }}

{{end}}