{{define "title"}}{{ .appName }} - Account - Address{{end}}
{{define "pageTitle"}}Account - Address{{end}}
{{define "subTitle"}}
    <div class="text-xl font-semibold">Edit your address</div>
    <div class="mt-2 divider"></div> 
{{end}}

{{define "menu"}}
    {{template "account_menu" . }}
{{end}}

{{define "head"}}


{{end}}

{{define "body"}}

<form id="form-address" action="/account/address" method="post">

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Address line 1</span>
            </label>
            <input type="text" name="addressLine1" value="{{.accountAddress.AddressLine1}}" 
                class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Address line 2</span>
            </label>
            <input type="text" name="addressLine2" value="{{.accountAddress.AddressLine2}}" 
            class="w-full input input-bordered " autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Locality (city, town)</span>
            </label>
            <input type="text" name="addressLocality" value="{{.accountAddress.AddressLocality}}" 
                class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Region (state, province)</span>
            </label>
            <input type="text" name="addressRegion" value="{{.accountAddress.AddressRegion}}" 
                class="w-full input input-bordered " autocomplete="off" />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Postal code</span>
            </label>
            <input type="text" name="addressPostalCode" value="{{.accountAddress.AddressPostalCode}}" 
                class="w-full input input-bordered " autocomplete="off" />
        </div>

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Country</span>
            </label>
            <select class="w-full select select-bordered country-flags" name="addressCountry">
                <option value="" {{ if eq .accountAddress.AddressCountry "" }}selected{{ end }}>(blank)</option>
                {{ $user := .accountAddress }}
                {{range .countries}}
                <option class="country-flags" value="{{.Alpha3}}" {{ if eq $user.AddressCountry .Alpha3 }}selected{{ end }}>
                    {{.Emoji}} - {{.Name}}</option>
                {{end}}
            </select>
        </div>
    </div>   

    <div class="mt-10">
        {{if .error}}
            <div class="mb-4 text-right text-error">
                <p>{{.error}}</p>
            </div>
        {{end}}
        {{ .csrfField }}
        {{if .addressSavedSuccessfully}}
            <div class="mb-4 text-right text-success">
                <p>&#10004; Address saved successfully</p>
            </div>
        {{end}}
        <button class="float-right btn btn-primary">Update</button>
    </div>

</form>

{{end}}