{{define "title"}}{{ .appName }} - Account - Change password{{end}}
{{define "pageTitle"}}Account - Change password{{end}}
{{define "subTitle"}}Change password{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        focusOnFirstNonEmptyInput("form-pwd")
    });        
</script>

{{end}}

{{define "body"}}

<form id="form-pwd" action="/account/change-password" method="post">

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
        
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Current password</span>
            </label>
            <input type="password" name="currentPassword" value="" class="w-full input input-bordered " />
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">New password</span>
            </label>
            <input type="password" name="newPassword" value="" class="w-full input input-bordered " />
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">
        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">New password confirmation</span>
            </label>
            <input type="password" name="newPasswordConfirmation" value="" class="w-full input input-bordered " />
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="mt-6">
            {{if .error}}
            <div class="mb-4 text-right text-error">
                <p>{{.error}}</p>
            </div>
            {{end}}
            {{ .csrfField }}
            {{if .passwordChangedSuccessfully}}
            <div class="mb-4 text-right text-success">
                <p>&#10004; Password changed successfully</p>
            </div>
            {{end}}
            <button class="float-right btn btn-primary">Change password</button>
        </div>
        
    </div>

</form>

{{end}}