{{define "title"}}{{ .appName }} - Account - Email{{end}}
{{define "pageTitle"}}Account - Email{{end}}
{{define "subTitle"}}Email verification{{end}}

{{define "head"}}


{{end}}

{{define "body"}}

<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
    <div class="mb-4 text-right text-error">
        <p>Unable to verify the email address. The verification code appears to be invalid or expired. Please click the <a href="/account/email"><span
            class="inline-block transition duration-200 text-accent hover:text-primary hover:underline hover:cursor-pointer">Email</span></a> menu item and attempt the verification process again.</p>
    </div>
</div>

{{end}}