{{define "title"}}{{ .appName }} - Account - Sessions{{end}}
{{define "pageTitle"}}Account - Sessions{{end}}

{{define "subTitle"}}
    <div class="text-xl font-semibold">Sessions</div>
    <div class="mt-2 divider"></div> 
{{end}}

{{define "menu"}}
    {{template "account_menu" . }}
{{end}}

{{define "head"}}

<script>

    function endSessionClick(evt, userSessionId, device, isCurrent) {

        let msg = "Would you like to end the session on device <span class='text-accent'>" + device + "</span>?";
        if(isCurrent) {
            msg += " <br /><br />Be aware that ending your current session will result in an immediate logout.";
        }
        showModalDialog("modal1", "Are you sure?", msg,
            function() {
                // no button
            },
            function() {
                // yes button

                const loadingIcon = document.getElementById("loadingIcon");

                sendAjaxRequest({
                    "url": "/account/sessions",
                    "method": "POST",
                    "bodyData": JSON.stringify({
                        "userSessionId": userSessionId
                    }),
                    "loadingElement": loadingIcon,
                    "loadingClasses": ["loading", "loading-xs"],
                    "modalId": "modal0",
                    "callback": function(result) {
                        
                        if(result.SessionDeletedSuccessfully) {
                            window.location.href = "/account/sessions";
                        }
                    }
                });
            });
    }

</script>

{{end}}

{{define "body"}}
    
    {{ .csrfField }}

    <p>When you authenticate on a device, a session is created to enable a single sign-on (SSO) experience across multiple applications.</p>   
    <p class="mt-2">For added security, you have the option to end sessions on devices other than the current one.</p>

    <div class="w-full mt-4 overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th>Device</th>
                <th>IP address</th>
                <th>Started at</th>
                <th>Last accessed at</th>
                <th class="w-48"></th>
            </tr>
            </thead>
            <tbody>
                {{ range .sessions }}
                    <tr>
                        <td>{{.DeviceName}} {{.DeviceType}} {{.DeviceOS}}
                            {{ if .IsCurrent }}
                                <br /><span class="text-accent">Current session</span>
                            {{end}}
                        </td>
                        <td>{{.IpAddress}}</td>
                        <td>{{.StartedAt}}<br />{{.DurationSinceStarted}} ago</td>
                        <td>{{.LastAcessedAt}}<br />{{.DurationSinceLastAccessed}} ago</td>
                        <td>
                            <div class="text-right">
                                <span id="loadingIcon" class="hidden w-5 h-5 mr-2 align-middle text-primary">&nbsp;</span>
                                <button class="inline-block align-middle btn btn-sm btn-primary" 
                                    onclick="endSessionClick(this, {{.UserSessionId}}, '{{.DeviceName}} {{.DeviceType}} {{.DeviceOS}}', {{.IsCurrent}});">End session</button>
                            </div>
                        </td>                         
                    </tr>                
                {{end}}
            </tbody>
        </table>        
    </div>

    {{template "modal_dialog" (args "modal0" "close") }}
    {{template "modal_dialog" (args "modal1" "yes_no") }}
    

{{end}}