{{define "title"}}{{ .appName }} - Account - Email{{end}}
{{define "pageTitle"}}Account - Email{{end}}
{{define "subTitle"}}Update and verify your email{{end}}
{{define "head"}}

<script>  

    function sendVerificationEmail(evt) {

        evt.preventDefault();

        const linkVerifyYourEmail = document.getElementById("linkVerifyYourEmail");

        if(linkVerifyYourEmail.dataset.clicked == "true") {
            return;
        }       
        
        linkVerifyYourEmail.dataset.clicked = "true";

        try {
            fetch("/account/email-send-verification", {
                method: "POST",
                body: JSON.stringify({}),
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                    "X-CSRF-Token": document.getElementsByName("gorilla.csrf.Token")[0].value
                }
            })
            .then((response) => {
                if (!response.ok) {
                    response.text().then(text => {
                        try{
                            const err = JSON.parse(text);
                            showModalDialog("modal1", "Server error", err.error_description);
                        } catch(err) {
                            showModalDialog("modal1", "Error", "An unexpected error has occurred: <span class='text-error'>" + response.status + "</span>. Please refresh the page and try again.");
                        }                        
                    });
                } else {
                    return response.json()
                }
            })
            .then((result) => {
                
                linkVerifyYourEmail.dataset.clicked = "false";

                if(result !== undefined) {
                    if(result.RequiresAuth) {
                        showModalDialog("modal1", "Session expired", "Your authentication session has expired. To continue, please refresh the page and re-authenticate to start a new session.");
                    } else if(result.EmailVerified) {
                        showModalDialog("modal1", "Email is already verified", "It appears that your email address is already verified. You may want to refresh the page to view the updated status.");
                    } else if(result.TooManyRequests) {
                        showModalDialog("modal1", "Too many requests", "A request to send a verification email was made recently. Please wait for <span class='text-accent'>" + result.WaitInSeconds + "</span> seconds before requesting another one.");
                    } else if(result.EmailVerificationSent) {
                        showModalDialog("modal1", "Email verification sent", "An email verification link has been dispatched to <span class='text-accent'>" + result.EmailDestination + "</span>. To complete the process, please check your inbox and your spam/junk folder. Locate the confirmation link within the email and click it to verify your email address.");
                    }
                }

            });
        } catch (error) {
            showModalDialog("modal1", "Error", "An unexpected error has occurred: " + error);
        }
    }
</script>

{{end}}

{{define "body"}}

<form id="form-email" action="/account/email" method="post">

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    Email
                    {{ if and .accountEmail.Email .accountEmail.EmailVerified}}
                        <span class="p-[4px] ml-2 rounded-lg text-success-content bg-success">
                            <svg class="inline w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                            Your email is verified
                        </span>
                    {{end}}
                    {{ if and .accountEmail.Email (not .accountEmail.EmailVerified)}}                        
                        <span class="p-[4px] ml-2 rounded-lg text-warning-content bg-warning">
                            <svg class="inline w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                            </svg>
                            Email verification pending
                        </span>                        
                    {{end}}
                </span>
            </label>
            <input type="text" id="email" name="email" value="{{.accountEmail.Email}}" class="w-full input input-bordered " />
            {{ if and (not .accountEmail.EmailVerified) (.accountEmail.Email)}}            
                <div class='text-right text-primary'>
                    <a href="#" onclick="sendVerificationEmail(event);">
                        <span id="linkVerifyYourEmail" class="inline-block text-sm transition duration-200 hover:text-primary hover:underline hover:cursor-pointer">
                            Verify your email
                        </span>
                    </a>
                </div>
            {{end}}
        </div>
        
    </div>

    <div class="grid grid-cols-1 gap-6 mt-2 md:grid-cols-3">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">Email confirmation</span>
            </label>
            <input type="text" id="emailConfirmation" name="emailConfirmation" value="{{.accountEmail.EmailConfirmation}}" class="w-full input input-bordered " />
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">

        <div class="mt-6">
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            {{ .csrfField }}
            {{if .emailSavedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Email updated successfully</p>
                </div>
            {{end}}
            <button class="float-right btn btn-primary">Update email</button>
        </div>

    </div>

</form>

{{template "modal_dialog" (args "modal1" "close") }}

{{end}}
