{{define "title"}}{{ .appName }} - Settings - Keys{{end}}
{{define "pageTitle"}}Settings{{end}}
{{define "subTitle"}}

<div class="inline-block text-xl font-semibold">
    Settings - Keys
</div>
<div class="mt-2 divider"></div>

{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>

    const keys = {{ marshal .keys }};

    function showPEM(elem, evt, keyIdentifier) {
        evt.preventDefault();

        const viewPublicKeyDialogPEMKeyId = document.getElementById('viewPublicKeyDialogPEMKeyId');
        const viewPublicKeyDialogPEMContent = document.getElementById('viewPublicKeyDialogPEMContent');
        const viewPublicKeyDialogPEM = document.getElementById('viewPublicKeyDialogPEM');

        const key = keys.find(k => k.KeyIdentifier === keyIdentifier);
        if (key) {
            viewPublicKeyDialogPEMKeyId.innerText = key.KeyIdentifier;
            viewPublicKeyDialogPEMContent.innerHTML = key.PublicKeyPEM;

            viewPublicKeyDialogPEM.showModal();
        }
    }

    function showASN1DER(elem, evt, keyIdentifier) {
        evt.preventDefault();

        const viewPublicKeyDialogASN1DERKeyId = document.getElementById('viewPublicKeyDialogASN1DERKeyId');
        const viewPublicKeyDialogASN1DERContent = document.getElementById('viewPublicKeyDialogASN1DERContent');
        const viewPublicKeyDialogASN1DER = document.getElementById('viewPublicKeyDialogASN1DER');

        const key = keys.find(k => k.KeyIdentifier === keyIdentifier);
        if (key) {
            viewPublicKeyDialogASN1DERKeyId.innerText = key.KeyIdentifier;
            viewPublicKeyDialogASN1DERContent.innerHTML = key.PublicKeyASN1DER;

            viewPublicKeyDialogASN1DER.showModal();
        }
    }

    function showJWK(elem, evt, keyIdentifier) {
        evt.preventDefault();

        const viewPublicKeyDialogJWKKeyId = document.getElementById('viewPublicKeyDialogJWKKeyId');
        const viewPublicKeyDialogJWKContent = document.getElementById('viewPublicKeyDialogJWKContent');
        const viewPublicKeyDialogJWK = document.getElementById('viewPublicKeyDialogJWK');

        const key = keys.find(k => k.KeyIdentifier === keyIdentifier);
        if (key) {
            viewPublicKeyDialogJWKKeyId.innerText = key.KeyIdentifier;
            viewPublicKeyDialogJWKContent.innerHTML = key.PublicKeyJWK;

            viewPublicKeyDialogJWK.showModal();
        }
    }

    function rotate(elem, evt) {
        evt.preventDefault();

        showModalDialog("modal1", "Are you absolutely sure?",
            "Upon key rotation, the <span class='text-accent'>next key</span> becomes the <span class='text-accent'>current key</span>, while the <span class='text-accent'>existing current key</span> is preserved as a <span class='text-accent'>previous key</span>. Finally, a new <span class='text-accent'>next key</span> is created.",
            function () {
            },
            function () {
                const loadingIcon = document.getElementById("loadingIcon");
                sendAjaxRequest({
                    "url": "/admin/settings/keys/rotate",
                    "method": "POST",
                    "bodyData": JSON.stringify({}),
                    "loadingElement": loadingIcon,
                    "loadingClasses": ["loading", "loading-xs"],
                    "modalId": "modal0",
                    "callback": function (result) {
                        if (result.Success) {
                            showModalDialog("modal0", "Key successfully rotated", "The page will refresh the new set of keys will be displayed.",
                                function () {
                                    window.location.reload();
                                });
                        }
                    }
                });
            });
    }

    function revoke(elem, evt, keyIdentifier) {
        evt.preventDefault();

        showModalDialog("modal1", "Are you sure?",
            "The previous key will be deleted. This action cannot be undone.",
            function () {
            },
            function () {
                const key = keys.find(k => k.KeyIdentifier === keyIdentifier);
                if (key) {

                    sendAjaxRequest({
                        "url": "/admin/settings/keys/revoke",
                        "method": "POST",
                        "bodyData": JSON.stringify({
                            "id": key.Id
                        }),
                        "loadingElement": null,
                        "loadingClasses": null,
                        "modalId": "modal0",
                        "callback": function (result) {
                            if (result.Success) {
                                window.location.reload();
                            }
                        }
                    });
                }
            });
    }

</script>

{{end}}

{{define "body"}}

    <div class="grid grid-cols-1 gap-6">

        <p class="">RSA keys are utilized for <span class="text-accent">token signing</span>. The current key is used to sign any new tokens, and keys for future and past usage are also available. You have the option to revoke the previous key.</p>        

        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Algorithm</th>
                    <th>Key identifier</th>
                    <th>State</th>                    
                    <th>Public key</th>    
                    <th>Revoke previous key</th>               
                </tr>
            </thead>
            <tbody>
                {{range .keys}}
                    <tr>
                        <td>{{.Type}}</td>
                        <td>{{.Algorithm}}</td>
                        <td>{{.KeyIdentifier}}</td>
                        <td>
                            {{if eq .State "current"}}
                                <span class="px-2 rounded text-success-content bg-success">Current</span>
                            {{else if eq .State "previous"}}
                                <span class="px-2 rounded text-neutral-content bg-neutral">Previous</span>
                            {{else if eq .State "next"}}
                                <span class="px-2 rounded text-neutral-content bg-neutral">Next</span>
                            {{end}}
                        </td>                                                                        
                        <td>
                            <ul>
                                <li class="p-1"><a onclick="showPEM(this, event, '{{.KeyIdentifier}}');" href="#" class="link link-hover link-secondary">PEM</a></li>
                                <li class="p-1"><a onclick="showASN1DER(this, event, '{{.KeyIdentifier}}');" href="#" class="link link-hover link-secondary">ASN.1 DER base64 encoded</a></li>
                                <li class="p-1"><a onclick="showJWK(this, event, '{{.KeyIdentifier}}');" href="#" class="link link-hover link-secondary">JWK</a></li>
                            </ul>
                        </td>
                        <td>    
                            {{if eq .State "previous"}}
                                <a onclick="revoke(this, event, '{{.KeyIdentifier}}');" href="#" class="link link-hover link-secondary">Revoke</a>
                            {{end}}
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-6">
        <div class="text-right">            
            {{ .csrfField }}
            <span id="loadingIcon" class="hidden w-5 h-5 mr-2 align-middle text-primary">&nbsp;</span>
            <button class="inline-block align-middle btn btn-sm btn-primary"  onclick="rotate(this, event);">Rotate key</button>            
        </div>
    </div>

    <dialog id="viewPublicKeyDialogPEM" class="modal">
        <div class="max-w-[608px] modal-box">
            <h3 class="text-lg">
                Public key in PEM format
            </h3>
            <p>Key identifier: <span id="viewPublicKeyDialogPEMKeyId" class="font-mono text-accent"></span></p>           
            <textarea id="viewPublicKeyDialogPEMContent" readonly 
                class="textarea textarea-bordered h-[440px] p-2 mt-3 w-[563px] resize-none whitespace-pre-wrap font-mono">
            </textarea>
            <div class="modal-action">   
                <form method="dialog">                
                    <button class="btn btn-primary">Close</button>
                </form>
            </div>
        </div>
    </dialog>

    <dialog id="viewPublicKeyDialogASN1DER" class="modal">
        <div class="max-w-[683px] modal-box">
            <h3 class="text-lg">
                Public key in ASN.1 DER format - base64 encoded
            </h3>
            <p>Key identifier: <span id="viewPublicKeyDialogASN1DERKeyId" class="font-mono text-accent"></span></p>
            <textarea id="viewPublicKeyDialogASN1DERContent" readonly 
                class="textarea textarea-bordered h-[330px] p-2 mt-3 w-[636px] break-all resize-none font-mono">
            </textarea>
            <div class="modal-action">   
                <form method="dialog">                
                    <button class="btn btn-primary">Close</button>
                </form>
            </div>
        </div>
    </dialog>

    <dialog id="viewPublicKeyDialogJWK" class="modal">
        <div class="max-w-[751px] modal-box">
            <h3 class="text-lg">
                Public key in JWK format
            </h3>
            <p>Key identifier: <span id="viewPublicKeyDialogJWKKeyId" class="font-mono text-accent"></span></p>
            <textarea id="viewPublicKeyDialogJWKContent" readonly 
                class="textarea textarea-bordered h-[550px] p-2 mt-3 w-[700px] break-all resize-none font-mono">
            </textarea>
            <div class="modal-action">   
                <form method="dialog">                
                    <button class="btn btn-primary">Close</button>
                </form>
            </div>
        </div>
    </dialog>

    {{template "modal_dialog" (args "modal0" "close" ) }}
    {{template "modal_dialog" (args "modal1" "yes_no" ) }}
   
{{end}}