{{define "title"}}{{ .appName }} - Group members - {{.groupIdentifier}}{{end}}
{{define "pageTitle"}}Group members - <span class="text-accent">{{.groupIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
    });

    function removeUser(elem, evt, id, email) {
        evt.preventDefault();
        const groupIdentifier = "{{.groupIdentifier}}";
        
        showModalDialog("modal1", "Remove user from group", "Are you sure that you want to remove user <span class='text-accent'>" + email + 
            "</span> from the group <span class='text-accent'>" + groupIdentifier + "</span>? This action will take effect immediately.",
            function() {},
            function() {
                
                var loadingElement = document.getElementById("loading" + id);

                sendAjaxRequest({
                    "url": "/admin/groups/{{.groupId}}/members/remove/" + id,
                    "method": "POST",
                    "bodyData": null,
                    "loadingElement": loadingElement,
                    "loadingClasses": ["loading", "loading-xs"],
                    "modalId": "modal0",
                    "callback": function(result) {
                        
                        if(result.Success) {
                            const removed = document.createElement("span");
                            removed.setAttribute("class", "px-2 rounded text-error-content bg-error");
                            removed.innerHTML = "Removed";
                            elem.parentNode.replaceChild(removed, elem);         
                        }
                    }
                });

        });
    }
                           
        
</script>

{{end}}

{{define "body"}}

{{template "manage_groups_tabs" (args "members" .groupId) }}

    {{ .csrfField }}

    <div class="flex justify-between mt-6">
        <div>
            <p class="pl-2">Here is the list of users currently assigned to the <span class="text-accent">{{.groupIdentifier}}</span> group.</p>
        </div>
        <div class="mr-14">            
            <a class="mr-4 btn btn-primary btn-sm" href="/admin/groups/{{.groupId}}/members/add">Add user</a>
        </div>
    </div>    

    <div class="grid grid-cols-1 gap-6 mt-2">       

        <div class="w-full h-full pb-6 bg-base-100">            
            <table id="usersTable" class="table mt-2">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Given name</th>
                        <th>Middle name</th>
                        <th>Family name</th>
                        <th class="w-40">Remove from group</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .pageResult.Users}}
                        <tr>
                            <td>{{.Subject}}</td>
                            <td>{{.Username}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.GivenName}}</td>
                            <td>{{.MiddleName}}</td>
                            <td>{{.FamilyName}}</td>
                            <td>                                
                                <button onclick="removeUser(this, event, {{.Id}}, '{{.Email}}');" class="inline-block align-middle btn-xs btn btn-primary">Remove</button>
                                <span id="loading{{.Id}}" class="hidden w-5 h-5 mr-1 align-middle text-primary">&nbsp;</span>
                            </td>
                        </tr>
                    {{end}}
                    {{if eq (len .pageResult.Users) 0}}
                        <tr>
                            <td colspan="7" class="text-center"><span class='p-1 rounded text-warning-content bg-warning'>No users assigned to group.</span></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            
        </div>

    </div>  

    <div class="flex justify-between mt-8">
        <div>
            <a class="link-secondary" href="/admin/groups">
                <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                <span class="ml-1 align-middle">Back to list of groups</span>
            </a>
        </div>
        <div class="mr-14">                                    
            {{template "paginator" (args .paginator (printf "/admin/groups/%v/members" .groupId)) }}
        </div>
    </div> 

{{template "modal_dialog" (args "modal0" "close" ) }}
{{template "modal_dialog" (args "modal1" "yes_no" ) }}

{{end}}

