{{define "title"}}{{ .appName }} - Resource settings - {{.resourceIdentifier}}{{end}}
{{define "pageTitle"}}Resource settings - <span class="text-accent">{{.resourceIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>

    var originalResourceIdentifier = "{{.resourceIdentifier}}";

    document.addEventListener("DOMContentLoaded", function() {
        const btnSave = document.getElementById("btnSave");
        const resourceIdentifier = document.getElementById("resourceIdentifier");
        const formResourceSettings = document.getElementById("form-resource-settings");
        
        if(btnSave) {
            btnSave.addEventListener("click", function(event) {
                event.preventDefault();
                resourceIdentifier.value = resourceIdentifier.value.trim();
                if (resourceIdentifier.value !== originalResourceIdentifier) {
                    showModalDialog("modal1", "Are you sure?", "<span class='text-accent'>You've modified the resource identifier</span>, and this change could potentially affect existing applications that depend on it.<br /><br />Are you certain you want to save?", 
                    function() {                                        
                    },
                    function() {                    
                        formResourceSettings.submit();
                    });
                } else {
                    formResourceSettings.submit();
                }
            });
        }
    });


</script>

{{end}}

{{define "body"}}

{{template "manage_resources_tabs" (args "settings" .resourceId) }}

<form method="post">

    {{if .isSystemLevelResource}}
    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">        
        <div class="mt-2 w-fit form-control">
            <p class="px-2 ml-1 rounded text-warning-content bg-warning">The settings for this system-level resource cannot be changed.</p>
        </div>        
    </div>
    {{end}}

    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">

        <div class="w-full h-full pb-6 bg-base-100">
            <div class="w-full form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Resource identifier
                        <div class="ml-1 tooltip tooltip-top before:text-lg before:ml-20 before:mb-3"
                            data-tip="A unique identifier assigned to the resource.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="resourceIdentifier" type="text" name="resourceIdentifier" value="{{.resourceIdentifier}}"
                    class="w-full input input-bordered " autocomplete="off" {{if .isSystemLevelResource}}readonly{{end}} />
            </div>

            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Description
                        <div class="ml-1 tooltip tooltip-top before:text-lg before:ml-20 before:mb-3"
                            data-tip="Free-text description of the resource.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input type="text" name="description" value="{{.description}}"
                    class="w-full input input-bordered " autocomplete="off" {{if .isSystemLevelResource}}readonly{{end}} />
            </div>                    
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/resources">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of resources</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if .resourceSettingsSavedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Resource settings saved successfully</p>
                </div>
            {{end}}
            {{if not .isSystemLevelResource}}
                <button id="btnSave" class="float-right btn btn-primary">Save</button>
            {{end}}
        </div>
    </div>

</form>

{{template "modal_dialog" (args "modal1" "yes_no" ) }}

{{end}}