{{define "title"}}{{ .appName }} - Users in role - {{.roleIdentifier}}{{end}}
{{define "pageTitle"}}Users in role - <span class="text-accent">{{.roleIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}



<script>
    document.addEventListener('DOMContentLoaded', function () {
    });
        
</script>

{{end}}

{{define "body"}}

{{template "manage_roles_tabs" (args "users-in-role" .roleID) }}

<form id="form-role-users-in-role" method="post">

    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">

        <div class="w-full form-control">
            <label class="label">
                <span class="label-text text-base-content">
                    Role                    
                </span>
            </label>
            <input id="role" type="text" name="role" value="{{.roleIdentifier}}{{if .description}} ({{.description}}){{end}}"
                class="w-full input input-bordered " autocomplete="off" readonly disabled />
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-6">       

        <div class="w-full h-full pb-6 bg-base-100">            
            <table id="usersTable" class="table mt-2">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Given name</th>
                        <th>Middle name</th>
                        <th>FamilyName</th>
                        <th>Remove from role</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .pageResult.Users}}
                        <tr>
                            <td>{{.Subject}}</td>
                            <td>{{.Username}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.GivenName}}</td>
                            <td>{{.MiddleName}}</td>
                            <td>{{.FamilyName}}</td>
                            <td>
                                (remove)
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            
        </div>

    </div>

    <div class="flex justify-end mt-2">
        <div class="mr-14">
            <div class="join">               
                {{if .paginator.HasPrevious}}
                    <a class="join-item btn btn-sm" href="/admin/roles/1/users-in-role?page={{.paginator.Previous}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" clip-rule="evenodd" />
                        </svg>
                    </a>
                {{else}}
                    <a class="join-item btn btn-sm" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" clip-rule="evenodd" />
                        </svg>
                    </a>
                {{end}}
                {{range .paginator.Pages }}                    
                    {{if .IsCurrent}}
                        <a class="join-item btn btn-sm" disabled>{{.Num}}</a>
                    {{else}}
                        <a class="join-item btn btn-sm" href="/admin/roles/1/users-in-role?page={{.Num}}">{{.Num}}</a>
                    {{end}}
                {{end}}
                {{if .paginator.HasNext}}
                    <a class="join-item btn btn-sm" href="/admin/roles/1/users-in-role?page={{.paginator.Next}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                        </svg>                          
                    </a>
                {{else}}
                    <a class="join-item btn btn-sm" disabled>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                        </svg>    
                    </a>
                {{end}}               
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 mt-8">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/roles">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to list of roles</span>
                </a>
            </div>
            
        </div>
    </div>

</form>

{{template "modal_dialog" (args "modal1" "yes_no" ) }}

{{end}}

