{{define "title"}}{{ .appName }} - Resource permissions - {{.resourceIdentifier}}{{end}}
{{define "pageTitle"}}Resource permissions - <span class="text-accent">{{.resourceIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}

{{define "head"}}

<script>   
   var nextNewPermissionId = 0;
   var availablePermissions = [];
    {{- range $idx, $perm := .permissions}}
    availablePermissions.push({ "id": {{$perm.ID}}, "permissionIdentifier": "{{$perm.PermissionIdentifier}}", "description": "{{$perm.Description}}" });    
    {{- end}}
   

   document.addEventListener("DOMContentLoaded", function() {
        focusFirstField();           
        refreshPermissionsTable();

        btnSave = document.getElementById("btnSave");
        btnSave.addEventListener("click", btnSaveClick);
   });

   function createPermission(evt, elem) {
        evt.preventDefault();

        const permissionsTable = document.getElementById("permissionsTable");
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");      
        
        if(permissionIdentifier.value.length == 0) {               
            return;
        } else {

            let permAlreadyAdded = false;
            availablePermissions.forEach(function(perm) {
                if(perm.permissionIdentifier == permissionIdentifier.value) {
                    permAlreadyAdded = true;                    
                }
            });

            if(permAlreadyAdded)
            {
                showModalDialog("modal1", "Error", "The permission identifier is already in the list.");
                return;
            }
            
            validatePermission(permissionIdentifier.value, permissionDescription.value, function(ok) {
                if(ok) {
                    nextNewPermissionId--;                    
                    availablePermissions.push({ "id": nextNewPermissionId, "permissionIdentifier": permissionIdentifier.value, "description": permissionDescription.value });
                    refreshPermissionsTable();
                    permissionIdentifier.value = "";
                    permissionDescription.value = "";
                    focusFirstField();
                }
            });            
        }
   }

   function focusFirstField() {
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        setTimeout(function() {
            permissionIdentifier.focus();
        }, 100);
   }

   function validatePermission(permissionIdentifierStr, permissionDescriptionStr, callback) {
        try {
            fetch("/admin/resources/validate-permission", {
                method: "POST",
                body: JSON.stringify({
                    "permissionIdentifier": permissionIdentifierStr,                        
                    "description": permissionDescriptionStr
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8",                        
                }
            })
            .then((response) => {
                if (!response.ok) {
                    response.text().then(text => {
                        try{
                            const err = JSON.parse(text);
                            showModalDialog("modal1", "Server error", err.error_description);
                        } catch(err) {
                            showModalDialog("modal1", "Error", "An unexpected error has occurred: <span class='text-error'>" + response.status + "</span>. Please refresh the page and try again.");
                        }                        
                    });
                } else {
                    return response.json()
                }
            })
            .then((result) => {               

                if(result !== undefined) {
                    if(result.RequiresAuth) {
                        showModalDialog("modal1", "Session expired", "Your authentication session has expired. To continue, please refresh the page and re-authenticate to start a new session.");
                    } else if(!result.Valid) {
                        showModalDialog("modal1", "Validation error", result.Error, function() {
                            focusFirstField();
                        });
                    } else {
                        callback(true);                    
                    }
                }
                
            });
        } catch (error) {
            showModalDialog("modal1", "Error", "An unexpected error has occurred: " + error);
        }

        callback(false);
   }

   function refreshPermissionsTable() {
    console.log(availablePermissions);          
      const permissionsTable = document.getElementById("permissionsTable");
      const tbody = permissionsTable.getElementsByTagName("tbody")[0];
      tbody.innerHTML = "";
      
      if(availablePermissions.length == 0) {
         const row = tbody.insertRow();
         const cell1 = row.insertCell(0);         
         cell1.className = "p-1 font-mono text-sm align-middle text-center";
         cell1.innerHTML = "This resource has no permissions defined";
         cell1.colSpan = 4;
      } else {
        availablePermissions.forEach(perm => {            
            const row = tbody.insertRow();
            const cell1 = row.insertCell(0);
            const cell2 = row.insertCell(1);            
            const cell3 = row.insertCell(2);
            const cell4 = row.insertCell(3);
            cell1.className = "p-1 font-mono text-sm align-middle";
            cell1.innerHTML = perm.permissionIdentifier;

            cell2.className = "p-1";
            cell2.innerHTML = perm.description;

            cell3.className = "p-1 text-right w-16";
            cell3.innerHTML = getEditMarkup("", "editPermission(event, this);", "data-permissionid='" + perm.id + "'");

            cell4.className = "p-1 text-right w-16";
            cell4.innerHTML = getTrashCanMarkup("", "deletePermission(event, this);", "data-permissionid='" + perm.id + "'");              
        });
      }
   }

   function editPermission(evt, elem) {
        evt.preventDefault();

        const permId = elem.dataset.permissionid;
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");
        const updatePermissionButton = document.getElementById("updatePermissionButton");

        let found = false;
        availablePermissions.forEach(function(perm) {
            if(perm.id == permId) {
                found = true;
                permissionIdentifier.value = perm.permissionIdentifier;
                permissionDescription.value = perm.description;
                createPermissionActionPanel.classList.add("hidden");
                updatePermissionActionPanel.classList.remove("hidden");
                updatePermissionButton.dataset.permissionid = perm.id;
            }
        });

        if(!found) {
            showModalDialog("modal1", "Error", "Unable to find permission");
        }
   }

   function updatePermission(evt, elem) {
        evt.preventDefault();

        const permId = elem.dataset.permissionid;
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");

        let permAlreadyAdded = false;
        availablePermissions.forEach(function(perm) {
            if(perm.permissionIdentifier == permissionIdentifier.value &&
                perm.id != permId) {
                permAlreadyAdded = true;                    
            }
        });

        if(permAlreadyAdded)
        {
            showModalDialog("modal1", "Error", "The permission identifier is already in the list.");
            return;
        }

        validatePermission(permissionIdentifier.value, permissionDescription.value, function(ok) {
            if(ok) {
                availablePermissions.forEach(function(perm) {
                    if(perm.id == permId) {
                        perm.permissionIdentifier = permissionIdentifier.value;
                        perm.description = permissionDescription.value;
                        permissionIdentifier.value = "";
                        permissionDescription.value = "";
                        createPermissionActionPanel.classList.remove("hidden");
                        updatePermissionActionPanel.classList.add("hidden");
                        updatePermissionButton.dataset.permissionid = "";
                        
                        refreshPermissionsTable();
                        focusFirstField();
                    }
                });
            }
        });
   }

   function cancelEdit(evt, elem) {
        evt.preventDefault();
        
        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");
        const updatePermissionButton = document.getElementById("updatePermissionButton");

        permissionIdentifier.value = "";
        permissionDescription.value = "";
        createPermissionActionPanel.classList.remove("hidden");
        updatePermissionActionPanel.classList.add("hidden");
        updatePermissionButton.dataset.permissionid = "";
   }

   function deletePermission(evt, elem) {      
      evt.preventDefault();
      
        const permId = elem.dataset.permissionid;
      
        availablePermissions.forEach(function(perm, index) {
             if(perm.id == permId) {
                availablePermissions.splice(index, 1);
             }
        });

        const permissionIdentifier = document.getElementById("permissionIdentifier");
        const permissionDescription = document.getElementById("permissionDescription");
        const createPermissionActionPanel = document.getElementById("createPermissionActionPanel");
        const updatePermissionActionPanel = document.getElementById("updatePermissionActionPanel");
        const updatePermissionButton = document.getElementById("updatePermissionButton");

        if(!updatePermissionActionPanel.classList.contains("hidden")) {
            permissionIdentifier.value = "";
            permissionDescription.value = "";
            createPermissionActionPanel.classList.remove("hidden");
            updatePermissionActionPanel.classList.add("hidden");
            updatePermissionButton.dataset.permissionid = "";
        }

        refreshPermissionsTable();
   }

   function btnSaveClick(evt) {
        evt.preventDefault();

        btnSave = document.getElementById("btnSave");

        if(btnSave.dataset.clicked == "true") {
            return;
        }       
        
        btnSave.dataset.clicked = "true";       
        
        try {
            fetch("/admin/resources/{{.resourceID}}/permissions", {
                method: "POST",
                body: JSON.stringify({
                    "resourceID": {{.resourceID}},                        
                    "permissions": availablePermissions
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                    "X-CSRF-Token": document.getElementsByName("gorilla.csrf.Token")[0].value
                }
            })
            .then((response) => {
                if (!response.ok) {
                    response.text().then(text => {
                        try{
                            const err = JSON.parse(text);
                            showModalDialog("modal1", "Server error", err.error_description);
                        } catch(err) {
                            showModalDialog("modal1", "Error", "An unexpected error has occurred: <span class='text-error'>" + response.status + "</span>. Please refresh the page and try again.");
                        }                        
                    });
                } else {
                    return response.json()
                }
            })
            .then((result) => {

                btnSave.dataset.clicked = "false";

                if(result !== undefined) {
                    if(result.RequiresAuth) {
                        showModalDialog("modal1", "Session expired", "Your authentication session has expired. To continue, please refresh the page and re-authenticate to start a new session.");
                    } else if(result.SavedSuccessfully) {
                        window.location.href = "/admin/resources/{{.resourceID}}/permissions";
                    } else {
                        showModalDialog("modal1", "Error", result.Error);
                    }
                }
            });
        } catch (error) {
            showModalDialog("modal1", "Error", "An unexpected error has occurred: " + error);
        }
   }   
</script>

{{end}}

{{define "body"}}

{{template "manage_resources_tabs" (args "permissions" .resourceID) }}

<form id="form-resource-permissions" method="post">

   <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">

      <div class="w-full h-full pb-6 bg-base-100"> 

            <div class="w-full form-control">
                <label class="label">
                    <span class="label-text text-base-content">Resource</span>
                    
                </label>
                <input id="resource" readonly disabled type="text" name="resource" value="{{.resourceIdentifier}}{{if .resourceDescription}} - {{.resourceDescription}}{{end}}"
                    class="w-full input input-bordered " autocomplete="off" />
            </div>           

            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        <span class="inline-block align-middle">Permission identifier</span>
                        <div class="ml-1 tooltip tooltip-top before:text-lg before:ml-20 before:mb-3"
                            data-tip="A unique identifier assigned to the permission.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="permissionIdentifier" type="text" name="permissionIdentifier" value="{{.permissionIdentifier}}"
                    class="w-full input input-bordered" autocomplete="off" />
            </div>

            <div class="w-full mt-2 form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Permission description
                        <div class="ml-1 tooltip tooltip-top before:text-lg before:ml-20 before:mb-3"
                            data-tip="Free-text description of the permission.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="permissionDescription" type="text" name="permissionDescription" value="{{.permissionDescription}}"
                    class="w-full input input-bordered" autocomplete="off" />
            </div>      

            <div id="createPermissionActionPanel" class="mt-3">
                <div class="flex justify-end">            
                    <button onclick="createPermission(event, this);" class="w-fit btn btn-secondary btn-sm">Create permission</button>
                </div>
            </div>

            <div id="updatePermissionActionPanel" class="hidden mt-3">
                <div class="flex justify-end">
                    <a class="link link-secondary link-hover w-fit" onclick="cancelEdit(event, this);">Cancel edit</a>
                    <button id="updatePermissionButton" onclick="updatePermission(event, this);" class="ml-4 w-fit btn btn-secondary btn-sm">Update permission</button>
                </div>
            </div>

            <div class="w-full mt-5">
                <table id="permissionsTable" class="table">
                        <thead>
                            <tr>
                                <th class="p-1 text-lg">Permission identifier</th>
                                <th class="p-1 text-lg">Permission description</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                </table>
            </div>

      </div>

   </div>

   <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
      <div>
          {{if .error}}
              <div class="mb-4 text-right text-error">
                  <p>{{.error}}</p>
              </div>
          {{end}}
          <div class="float-left p-3">
              <a class="link-secondary" href="/admin/resources">
                  <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                  </svg>
                  <span class="ml-1 align-middle">Back to list of resources</span>
              </a>
          </div>
          {{ .csrfField }}
          {{if .resourcePermissionsSavedSuccessfully}}
              <div class="mb-4 text-right text-success">
                  <p>&#10004; Resource permissions saved successfully</p>
              </div>
          {{end}}
          <button id="btnSave" class="float-right btn btn-primary">Save</button>
      </div>
  </div>

</form>

{{template "modal_dialog" (args "modal1" "close" ) }}

{{end}}