{{define "title"}}{{ .appName }} - Client authentication - {{.client.ClientIdentifier}}{{end}}
{{define "pageTitle"}}Client authentication - <span class="text-accent">{{.client.ClientIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}

{{define "head"}}

<script>

    var isPublic = {{if .client.IsPublic}}true{{else}}false{{end}};
    var originalClientSecret = "{{.client.ClientSecret}}";

    document.addEventListener("DOMContentLoaded", function() {
        refreshPublicConfidential();

        const publicClientRadio = document.getElementById("publicClientRadio");
        const confidentialClientRadio = document.getElementById("confidentialClientRadio");
        publicClientRadio.addEventListener("change", function() {
            refreshPublicConfidential();
        });
        confidentialClientRadio.addEventListener("change", function() {
            refreshPublicConfidential();
        });

        const btnSave = document.getElementById("btnSave");
        btnSave.addEventListener("click", function(event) {
            event.preventDefault();

            const clientSecret = document.getElementById('clientSecret'); 
                        
            if(confidentialClientRadio.checked && originalClientSecret !== "" && 
                clientSecret.value !== originalClientSecret) {
                    
                showModalDialog("modal1", "Are you sure?", "<span class='text-accent'>You've modified the client secret</span>, and this change could potentially affect existing applications that depend on it.<br /><br />Are you certain you want to save?", 
                function() {                                        
                },
                function() {                    
                    document.getElementById("form-client-authentication").submit();
                });
            } else if(!isPublic && publicClientRadio.checked) {
                showModalDialog("modal1", "Are you sure?", "<span class='text-accent'>You've switched from confidential to public client</span>.<br /><br />Are you certain you want to save?", 
                function() {                                        
                },
                function() {                    
                    document.getElementById("form-client-authentication").submit();
                });
            } else {
                document.getElementById("form-client-authentication").submit();
            }
        });
    });

    function refreshPublicConfidential() {
        const publicClientPanel = document.getElementById("publicClientPanel");
        const confidentialClientPanel = document.getElementById("confidentialClientPanel");
        const publicClientRadio = document.getElementById("publicClientRadio");
        const confidentialClientRadio = document.getElementById("confidentialClientRadio");

        if(publicClientRadio.checked) {
            publicClientPanel.classList.remove("hidden");
            confidentialClientPanel.classList.add("hidden");
        } else {
            publicClientPanel.classList.add("hidden");
            confidentialClientPanel.classList.remove("hidden"); 

            const clientSecret = document.getElementById('clientSecret');
            if(clientSecret.value === "") {
                const generateNewSecretLink = document.getElementById("generateNewSecretLink");
                generateNewSecretLink.click();                
            }
        }
    }

    function revealClick(evt) {
        evt.preventDefault();
        const clientSecret = document.getElementById('clientSecret');
        clientSecret.type = "text";                

        const revealLink = document.getElementById('revealLink');
        revealLink.classList.add('hidden');

        const hideLink = document.getElementById('hideLink');
        hideLink.classList.remove('hidden');
    }

    function hideClick(evt) {
        evt.preventDefault();
        const clientSecret = document.getElementById('clientSecret');
        clientSecret.type = "password";
        
        const revealLink = document.getElementById('revealLink');
        revealLink.classList.remove('hidden');

        const hideLink = document.getElementById('hideLink');
        hideLink.classList.add('hidden');
    }

    function copyClick(evt) {
        evt.preventDefault();
        const clientSecret = document.getElementById('clientSecret');
        clientSecret.select();
        clientSecret.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(clientSecret.value);
    }

    function generateNewSecretClick(evt) {
        evt.preventDefault();

        const generateNewSecretLink = document.getElementById("generateNewSecretLink");

        if(generateNewSecretLink.dataset.clicked == "true") {
            return;
        }
        
        generateNewSecretLink.dataset.clicked = "true";

        try {
            fetch("/admin/clients/generate-new-secret", {
                method: "GET",                
            })
            .then((response) => {
                if (!response.ok) {
                    response.text().then(text => {
                        try{
                            const err = JSON.parse(text);
                            showModalDialog("modal2", "Server error", err.error_description);
                        } catch(err) {
                            showModalDialog("modal2", "Error", "An unexpected error has occurred: <span class='text-error'>" + response.status + "</span>. Please refresh the page and try again.");
                        }                        
                    });
                } else {
                    return response.json()
                }
            })
            .then((result) => {

                generateNewSecretLink.dataset.clicked = "false";

                if(result !== undefined) {
                    if(result.RequiresAuth) {
                        showModalDialog("modal2", "Session expired", "Your authentication session has expired. To continue, please refresh the page and re-authenticate to start a new session.");
                    } else {
                        const clientSecret = document.getElementById('clientSecret');

                        let clientSecretOriginalValue = clientSecret.value;
                        clientSecret.value = result.NewSecret;
                        
                        if(clientSecretOriginalValue !== "") {
                            clientSecret.type = "text";                

                            const revealLink = document.getElementById('revealLink');
                            revealLink.classList.add('hidden');

                            const hideLink = document.getElementById('hideLink');
                            hideLink.classList.remove('hidden');  
                        }
                    }
                }
            });
        } catch (error) {
            showModalDialog("modal2", "Error", "An unexpected error has occurred: " + error);
        }
    }

</script>

{{end}}

{{define "body"}}

{{template "manage_clients_tabs" (args "authentication" .client.ClientID) }}

<form id="form-client-authentication" method="post">

    <div class="grid grid-cols-1 gap-6 mt-6 lg:grid-cols-2">

        <div class="w-full bg-base-100">
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
                <div class="form-control w-fit">
                    <label class="cursor-pointer label">
                        <span class="label-text">Public client</span>                     
                        <input type="radio" id="publicClientRadio" name="publicConfidential" value="public" class="ml-4 radio" {{if .client.IsPublic}}checked{{end}} />                        
                    </label>
                </div>
                <div class="form-control w-fit">
                    <label class="cursor-pointer label">
                        <span class="label-text">Confidential client</span>
                        <input type="radio" id="confidentialClientRadio" name="publicConfidential" value="confidential" class="ml-4 radio" {{if not .client.IsPublic}}checked{{end}} />
                    </label>
                </div>
            </div>

            <div id="publicClientPanel" class="w-full mt-2 bg-base-100 {{if not .client.IsPublic}}hidden{{end}}">
                <p class="">A public client is an application that is unable to protect its client credentials from exposure. Examples of public clients include <span class="text-accent">mobile apps</span> and <span class="text-accent">javascript applications</span> that run in the user's browser.</p>
                <p class="mt-2">Public clients rely on the <span class="text-accent">Authorization Code</span> flow, which is fortified by <span class="text-accent">PKCE</span> for improved security.</p>
            </div>
    
            <div id="confidentialClientPanel" class="w-full mt-2 bg-base-100 {{if .client.IsPublic}}hidden{{end}}">
                <p class="">A confidential client can securely maintain the secrecy of its credentials (client identifier and client secret). Examples of confidential clients include <span class="text-accent">server-based applications</span> and <span class="text-accent">backend services</span> that can store their client secrets securely on the server.</p>
                <div class="w-full mt-3 form-control">
                    <label class="label">
                        <span class="label-text text-base-content">
                            Client secret
                            <div class="ml-1 tooltip tooltip-top before:text-lg before:ml-20 before:mb-3"
                                data-tip="The client secret serves as a means for the client to prove its identity and authenticate itself with the authorization server.">
                                <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                                </svg>
                            </div>
                        </span>
                    </label>                
                    <input type="password" readonly id="clientSecret" name="clientSecret" value="{{.client.ClientSecret}}"
                        class="w-full font-mono input input-bordered" />
                    <label class="label">
                        <span class="label-text-alt">
                            <a id="generateNewSecretLink" onclick="generateNewSecretClick(event);" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block w-5 h-5 align-middle">
                                    <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd" />
                                </svg>                              
                                <span class="ml-1 align-middle">Generate new secret</span>
                            </a>
                        </span>
                        <span class="label-text-alt">
                            <a id="revealLink" onclick="revealClick(event);" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="inline-block w-5 h-5 ml-4 align-middle">
                                    <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                                    <path fill-rule="evenodd"
                                        d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="ml-1 align-middle">Reveal</span></a>
                            <a id="hideLink" onclick="hideClick(event);" href="#" class="hidden">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="inline-block w-5 h-5 ml-4 align-middle">
                                    <path fill-rule="evenodd"
                                        d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z"
                                        clip-rule="evenodd" />
                                    <path
                                        d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z" />
                                </svg>
                                <span class="ml-1 align-middle">Hide</span>
                            </a>
                            <a id="copyLink" onclick="copyClick(event);" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    class="inline-block w-5 h-5 ml-4 align-middle">
                                    <path fill-rule="evenodd"
                                        d="M13.887 3.182c.396.037.79.08 1.183.128C16.194 3.45 17 4.414 17 5.517V16.75A2.25 2.25 0 0114.75 19h-9.5A2.25 2.25 0 013 16.75V5.517c0-1.103.806-2.068 1.93-2.207.393-.048.787-.09 1.183-.128A3.001 3.001 0 019 1h2c1.373 0 2.531.923 2.887 2.182zM7.5 4A1.5 1.5 0 019 2.5h2A1.5 1.5 0 0112.5 4v.5h-5V4z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="align-middle">Copy</span>
                            </a>
                        </span>
                    </label>
                        
                </div>
            </div>

        </div>
        
    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}
            <div class="float-left p-3">
                <a class="link-secondary" href="/admin/clients">
                    <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg>
                    <span class="ml-1 align-middle">Back to client list</span>
                </a>
            </div>
            {{ .csrfField }}
            {{if .clientAuthenticationSavedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Client authentication saved successfully</p>
                </div>
            {{end}}
            <button id="btnSave" class="float-right btn btn-primary">Save</button>
        </div>
    </div>

</form>

{{template "modal_dialog" (args "modal1" "yes_no" ) }}
{{template "modal_dialog" (args "modal2" "close" ) }}

{{end}}