{{define "title"}}{{ .appName }} - Users in role - {{.roleIdentifier}}{{end}}
{{define "pageTitle"}}Users in role - <span class="text-accent">{{.roleIdentifier}}</span>{{end}}
{{define "subTitle"}}{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}



<script>
    document.addEventListener('DOMContentLoaded', function () {
    });

    function removeUser(elem, evt, id, email) {
        evt.preventDefault();
        const roleIdentifier = "{{.roleIdentifier}}";
        
        showModalDialog("modal1", "Remove user from role", "Are you sure that you want to remove user <span class='text-accent'>" + email + 
            "</span> from the role <span class='text-accent'>" + roleIdentifier + "</span>? This action will take effect immediately.",
            function() {},
            function() {
                
            }
        );
    }
        
</script>

{{end}}

{{define "body"}}

{{template "manage_roles_tabs" (args "users-in-role" .roleID) }}

<form id="form-role-users-in-role" method="post">    

    <div class="flex justify-between mt-6">
        <div>
            <p class="pl-2">Here is the list of users currently assigned to the <span class="text-accent">{{.roleIdentifier}}</span> role.</p>
        </div>
        <div class="mr-14">            
            <a class="mr-4 btn btn-primary btn-sm" href="/admin/roles/{{.roleID}}/users-in-role/add">Add user</a>
        </div>
    </div>    

    <div class="grid grid-cols-1 gap-6 mt-2">       

        <div class="w-full h-full pb-6 bg-base-100">            
            <table id="usersTable" class="table mt-2">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Given name</th>
                        <th>Middle name</th>
                        <th>FamilyName</th>
                        <th>Remove from role</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .pageResult.Users}}
                        <tr>
                            <td>{{.Subject}}</td>
                            <td>{{.Username}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.GivenName}}</td>
                            <td>{{.MiddleName}}</td>
                            <td>{{.FamilyName}}</td>
                            <td>
                                <button onclick="removeUser(this, event, {{.ID}}, '{{.Email}}');" class="btn-xs btn btn-primary">Remove</button>
                            </td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            
        </div>

    </div>  

    <div class="flex justify-between mt-8">
        <div>
            <a class="link-secondary" href="/admin/roles">
                <svg class="inline-block w-6 h-6 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg>
                <span class="ml-1 align-middle">Back to list of roles</span>
            </a>
        </div>
        <div class="mr-14">            
            {{template "paginator" (args .paginator "/admin/roles/1/users-in-role") }}
        </div>
    </div> 

</form>

{{template "modal_dialog" (args "modal1" "yes_no" ) }}

{{end}}

