{{define "title"}}{{ .appName }} - Admin - Users{{end}}
{{define "pageTitle"}}Admin - Users{{end}}
{{define "subTitle"}}
    <div class="inline-block text-xl font-semibold">
        Manage users
        <div class="inline-block float-right">
            <div class="inline-block float-right">
                <a href="/admin/users/new?page={{.pageResult.Page}}&query={{.pageResult.Query}}" class="px-6 btn btn-sm btn-primary">Create new</a>
            </div>
        </div>
    </div>
    <div class="mt-2 mb-1 divider"></div>
{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>                    
    function searchUsers(element, event) {
        event.preventDefault();
        var query = document.getElementById("search").value;
        window.location.href = "/admin/users?query=" + query;
    }
</script>

{{end}}

{{define "body"}}


<form method="post">
    {{ .csrfField }}

    <div class="grid grid-cols-1 gap-6 mt-2 lg:grid-cols-2"> 
        
        <div class="table"> 
            <div class="table-cell w-9/12"> 
                <input id="search" type="text" placeholder="Search term" name="search" value="{{.pageResult.Query}}"
                    class="w-full input input-bordered" autocomplete="off" autofocus />
            </div>
            <div class="table-cell w-full whitespace-nowrap"> 
                <button onclick="searchUsers(this, event);" class="ml-4 btn btn-sm btn-secondary">Search</button>
                {{if .pageResult.Query}}
                    <a class="ml-2 link link-secondary link-hover" href="/admin/users">Clear</a>
                {{end}}
            </div>
        </div>
        
    </div> 

    <div class="grid grid-cols-1 gap-6 mt-3">       

        <div class="w-full h-full pb-6 bg-base-100">            
            <table id="usersTable" class="table mt-2">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Given name</th>
                        <th>Middle name</th>
                        <th>FamilyName</th>
                        <th class="w-40"></th>
                        <th class="w-40"></th>
                    </tr>
                </thead>
                <tbody>
                    {{ $pageNumber := .pageResult.Page }}
                    {{ $query := .pageResult.Query }}                    
                    {{range .pageResult.Users}}
                        <tr>
                            <td>{{.Subject}}</td>
                            <td>{{.Username}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.GivenName}}</td>
                            <td>{{.MiddleName}}</td>
                            <td>{{.FamilyName}}</td>
                            <td class="w-40">
                                <a href="/admin/users/{{.Id}}/details?page={{$pageNumber}}{{if $query}}&query={{$query}}{{end}}" class="link link-secondary link-hover">
                                    <svg class="inline-block w-5 h-5 align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                                        <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                                    </svg><span class="inline-block ml-1 align-middle">Manage</span>
                                </a>
                            </td>                
                            <td class="w-40">
                                <a href="/admin/users/{{.Id}}/delete" class="link link-secondary link-hover">
                                    <svg class="inline-block w-5 h-5 align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
                                    </svg><span class="inline-block ml-1 align-middle">Delete</span>
                                </a>
                            </td>        
                        </tr>
                    {{end}}
                    {{if eq (len .pageResult.Users) 0}}
                        <tr>
                            <td colspan="7" class="text-center"><span class='p-1 rounded text-warning-content bg-warning'>Could not find any user.</span></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            
        </div>

    </div>  

    <div class="flex justify-between mt-2">
        <div>            
        </div>
        <div class="mr-14">            
            {{if .pageResult.Query}}
                {{template "paginator" (args .paginator (concat "/admin/users?query=" .pageResult.Query)) }}
            {{else}}
                {{template "paginator" (args .paginator "/admin/users") }}
            {{end}}            
        </div>
    </div> 
</form>



{{end}}

