{{define "title"}}{{ .appName }} - Settings - General{{end}}
{{define "pageTitle"}}Settings{{end}}
{{define "subTitle"}}
    <div class="text-xl font-semibold">Settings - General</div>
    <div class="mt-2 divider"></div> 
{{end}}
{{define "menu"}}
    {{template "admin_menu" . }}
{{end}}

{{define "head"}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selfRegistrationEnabled = document.getElementById('selfRegistrationEnabled');
        const selfRegistrationRequiresEmailVerification = document.getElementById('selfRegistrationRequiresEmailVerification');
        
        selfRegistrationEnabled.addEventListener('change', function () {
            refreshSelfRegistrationEmailVerification();
        });        
        refreshSelfRegistrationEmailVerification();
    });

    function refreshSelfRegistrationEmailVerification() {
        const selfRegistrationEnabled = document.getElementById('selfRegistrationEnabled');
        const selfRegistrationRequiresEmailVerification = document.getElementById('selfRegistrationRequiresEmailVerification');
        
        if (selfRegistrationEnabled.checked) {
            selfRegistrationRequiresEmailVerification.disabled = false;
        } else {
            selfRegistrationRequiresEmailVerification.checked = false;
            selfRegistrationRequiresEmailVerification.disabled = true;
        }
    }
</script>

{{end}}

{{define "body"}}

<form method="post">   

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">

            <div class="w-full form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        App name
                        <div class="ml-1 tooltip tooltip-top before:ml-20"
                            data-tip="The name for this auth server. It will be displayed in certain areas of the user interface.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="appName" type="text" name="appName" value="{{.settings.AppName}}"
                    class="w-full input input-bordered " autocomplete="off" autofocus />
            </div> 

            <div class="w-full form-control">
                <label class="label">
                    <span class="label-text text-base-content">
                        Issuer
                        <div class="ml-1 tooltip tooltip-top before:ml-20"
                            data-tip="Used in the 'iss' claim. It identifies the auth server that issued the token. It can be a URI or a string identifier.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>
                <input id="issuer" type="text" name="issuer" value="{{.settings.Issuer}}"
                    class="w-full input input-bordered " autocomplete="off" />
            </div>

        </div>
    </div>

    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">

        <div class="w-full h-full pb-6 bg-base-100">            

            <div class="w-full mt-2 form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">
                        Password policy
                        <div class="ml-1 tooltip tooltip-top"
                            data-tip="How strictly should the auth server evaluate passwords?">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                </label>                
                <select class="select select-bordered" name="passwordPolicy">                        
                    <option value="none" {{if eq .settings.PasswordPolicy "none"}}selected{{end}}>No policy - at least 1 char</option>
                    <option value="low" {{if eq .settings.PasswordPolicy "low"}}selected{{end}}>Low strength - at least 6 chars</option>
                    <option value="medium" {{if eq .settings.PasswordPolicy "medium"}}selected{{end}}>Medium strength - at least 8 chars (must contain 1 uppercase, 1 lowercase and 1 number)</option>
                    <option value="high" {{if eq .settings.PasswordPolicy "high"}}selected{{end}}>High strength - at least 10 chars (must contain 1 uppercase, 1 lowercase, 1 number and 1 special char/symbol)</option>
                </select>                
            </div>

            <div class="w-full mt-2 form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">
                        <span class="align-middle">Self registration enabled</span>
                        <div class="ml-1 tooltip tooltip-top before:ml-20"
                            data-tip="If enabled, a 'register' link will be displayed on the login page. If disabled, only admins will have the ability to create users.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                    <input id="selfRegistrationEnabled" type="checkbox" name="selfRegistrationEnabled" 
                        class="ml-2 toggle" {{if .settings.SelfRegistrationEnabled}}checked{{end}} />
                </label>
            </div>

            <div class="w-full mt-2 form-control">
                <label class="cursor-pointer label">
                    <span class="label-text">
                        <span class="align-middle">Self registration requires email verification</span>
                        <div class="ml-1 tooltip tooltip-top before:ml-20"
                            data-tip="If enabled, self-registered users will need to activate their accounts via a confirmation link sent to their email. If disabled, accounts will be created instantly without the need for email confirmation.">
                            <svg class="inline-block w-6 h-6 ml-1 align-middle cursor-pointer"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>
                        </div>
                    </span>
                    <input id="selfRegistrationRequiresEmailVerification" type="checkbox" name="selfRegistrationRequiresEmailVerification" 
                        class="ml-2 toggle" {{if .settings.SelfRegistrationRequiresEmailVerification}}checked{{end}} />
                </label>
            </div>
                       
        </div>

    </div>

    <div class="grid grid-cols-1 gap-6 mt-8 lg:grid-cols-2">
        <div>
            {{if .error}}
                <div class="mb-4 text-right text-error">
                    <p>{{.error}}</p>
                </div>
            {{end}}            
            {{ .csrfField }}
            {{if .savedSuccessfully}}
                <div class="mb-4 text-right text-success">
                    <p>&#10004; Settings saved successfully</p>
                </div>
            {{end}}
            {{if not .client.IsSystemLevelClient}}
                <button id="btnSave" class="float-right btn btn-primary">Save</button>
            {{end}}
        </div>
    </div>

</form>

{{end}}