{{define "title"}}{{ .branding.AppName }} - Error{{end}}
{{define "head"}}{{end}}

{{define "body"}}

<div class="container mx-auto">
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg m-2 xl:w-2/5">
            <h3 class="text-2xl font-bold text-center">{{ .branding.AppName }}</h3>
            <div class="mx-auto mt-2 border border-red-500 p-2">                    
                <p class="text-red-500">{{.error}}</p>
            </div>            
        </div>       
    </div>
</div>

{{end}}