{{define "title"}}{{ .appName }} - OTP{{end}}
{{define "head"}}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            focusOnFirstNonEmptyInput("form-auth");
        });        
    </script>
{{end}}

{{define "body"}}

<div class="flex items-center min-h-screen bg-base-200">
    <div class="w-full max-w-5xl mx-auto shadow-xl card">
        <div class="grid grid-cols-1 md:grid-cols-2 bg-base-100 rounded-xl">           

            {{template "left_panel" . }}

            <div class='px-10 py-24'>
                <h2 class='mb-2 text-2xl font-semibold text-center'>One-time password (OTP)</h2>
                <form id="form-auth" action="" method="post">

                    <div class="mb-3">

                        <p class="mt-5">Please input the six-digit code from your authenticator app into the field below.</p>

                        <div class="w-full mt-6 form-control">
                            <label class="label">
                                <span class="label-text text-base-content">OTP code</span>
                            </label>
                            <input type="text" name="otp" value="" placeholder="123456" 
                                class="w-full input input-bordered" />
                        </div>                       

                    </div>                   

                    {{if .error}}
                        <p class="mt-8 text-center text-error">{{.error}}</p>
                    {{end}}
                    
                    <button type="submit" class="w-full mt-2 btn btn-primary">Verify</button>                 

                    {{ .csrfField }}

                </form>
            </div>
        </div>
    </div>
</div>

{{end}}


