{{define "title"}}{{ .appName }} - OTP{{end}}
{{define "head"}}
<script>
    
</script>
{{end}}

{{define "body"}}

<div class="flex items-center min-h-screen bg-base-200">
    <div class="w-full max-w-5xl mx-auto shadow-xl card">
        <div class="grid grid-cols-1 md:grid-cols-2 bg-base-100 rounded-xl">

            {{template "left_panel" . }}

            <div class='px-10 py-6'>
                <h2 class='mb-2 text-2xl font-semibold text-center'>Authorize client</h2>
                <form action="" method="post">

                    <div class="mb-3">

                        <p class="mt-2">The client below has requested the following permissions. Please take a moment to review them and give your consent if they are acceptable.</p>                        

                        <h4 class="mt-2 text-lg font-bold text-center">{{.clientIdentifier}}{{if .clientDescription}} - {{.clientDescription}}{{end}}</h4>

                        <table class="mt-2 table-auto">                
                            <tbody>
                            {{range $i, $s := .scopes}}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="consent{{$i}}" name="consent{{$i}}" checked />
                                    </td>
                                    <td class="p-2"><label for="consent{{$i}}">{{.Scope}}</label></td>
                                    <td class="p-2">{{.Description}}</td>
                                </tr>                
                            {{end}}
                            </tbody>    
                        </table>                    

                        <button type="submit" class="w-full mt-3 btn btn-neutral" name="btnCancel" value="cancel">Cancel consent</button>
                        <button type="submit" class="w-full mt-3 btn btn-primary" name="btnSubmit" value="submit">Give consent</button>

                        {{ .csrfField }}

                </form>
            </div>
        </div>
    </div>
</div>

{{end}}