{{define "title"}}{{ .appName }} - Forgot password{{end}}
{{define "head"}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        focusOnFirstNonEmptyInput("form-auth")

        {{if .linkSent}}
        showDialog("Password reset", "Provided that your email is accurate, a password reset link has been sent to your email address. Make sure to search both your inbox and spam/junk folder for the link.");
        {{end}}
    });   
    
    function showDialog(title, message) {
        document.getElementById("dialog-title").innerText = title;
        document.getElementById("dialog-message").innerText = message;
        document.getElementById("modalDialog").showModal();
    }
</script>
{{end}}

{{define "body"}}

<div class="min-h-screen bg-base-200 flex items-center">
    <div class="card mx-auto w-full max-w-5xl shadow-xl">
        <div class="grid  md:grid-cols-2 grid-cols-1  bg-base-100 rounded-xl">           

            {{template "left_panel" . }}

            <div class='py-24 px-10'>
                <h2 class='text-2xl font-semibold mb-2 text-center'>Forgot your password</h2>
                <form id="form-auth" action="" method="post">

                    <div class="mb-3">

                        <p class="mt-5">Kindly provide your email address, and we will send you a link to reset your password.</p>

                        <div class="form-control w-full mt-4">
                            <label class="label">
                                <span class="label-text text-base-content">Email</span>
                            </label>
                            <input type="text" name="email" value="{{.email}}" placeholder="user@example.com" 
                                class="input  input-bordered w-full" />
                        </div>
                    
                    </div>
                  
                    {{if .error}}
                        <p class="text-center text-error mt-8">{{.error}}</p>
                    {{end}}
                    
                    <button type="submit" class="btn mt-2 w-full btn-primary">Send password reset link</button>                    

                    {{ .csrfField }}

                </form>
            </div>
        </div>
    </div>
</div>

<dialog id="modalDialog" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg" id="dialog-title"></h3>
        <p class="py-4" id="dialog-message"></p>
        <div class="modal-action">
            <form method="dialog">                
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

{{end}}