{{define "title"}}{{ .appName }} - Unauthorized{{end}}
{{define "head"}}{{end}}

{{define "body"}}

<main>

<div class="flex items-center justify-center h-screen p-8">
    <div class="hero h-4/5">
        <div class="text-center hero-content">
            <div class="max-w-md">

                <h1 class="mt-5 text-[36px] font-bold lg:text-[50px]">Not found (404)</h1>

                <!-- heroicons: face-frown -->
                <svg class="inline-block w-48 h-48" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                </svg>              
            
                <h1 class="text-xl">Sorry, the page you are looking for could not be found. Please check the URL and try again.</h1>    
                <p class="mt-4 text-lg">
                    <a href="/" class="inline-block transition duration-200 text-primary hover:text-primary hover:underline hover:cursor-pointer">
                        Home
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>

</main>

{{end}}