{{define "title"}}{{ .appName }} - Activate account{{end}}
{{define "head"}}
{{end}}

{{define "body"}}

<div>
    <p>Hello,</p>

    <p>To finish creating your {{ .appName }} account, click the link below and choose a password:</p>

    <p><a href="{{.link}}">{{.link}}</a></p>

    <p>The link expires in 5 minutes. If you have trouble clicking it, copy and paste it into your web browser.</p>

    <p>If you didn't ask to create an account, ignore this message: no account is created unless the link is used.</p>

    <p>Best regards,<br />{{ .appName }}</p>
</div>

{{end}}