{{define "title"}}{{ .appName }} - You already have an account{{end}}
{{define "head"}}
{{end}}

{{define "body"}}

<div>
    <p>Hello,</p>

    <p>Someone, possibly you, tried to create a new {{ .appName }} account with this email address. This address already has an account, so no new account was created.</p>

    <p>If it was you, sign in with your existing account. If you don't remember your password, you can reset it here: <a href="{{.link}}">{{.link}}</a></p>

    <p>If it wasn't you, you can ignore this message. Your account has not been changed.</p>

    <p>Best regards,<br />{{ .appName }}</p>
</div>

{{end}}
