{{define "title"}}{{ .appName }} - Ativar conta{{end}}
{{define "head"}}
{{end}}

{{define "body"}}

<div>
    <p>Olá,</p>

    <p>Para terminar de criar sua conta no {{ .appName }}, clique no link abaixo e escolha uma senha:</p>

    <p><a href="{{.link}}">{{.link}}</a></p>

    <p>O link expira em 5 minutos. Se tiver problemas para clicar nele, copie e cole o endereço no seu navegador.</p>

    <p>Se você não pediu para criar uma conta, ignore esta mensagem: nenhuma conta é criada a menos que o link seja usado.</p>

    <p>Atenciosamente,<br />{{ .appName }}</p>
</div>

{{end}}