{{define "title"}}{{ .appName }} - Esqueceu a sua senha{{end}}
{{define "head"}}
{{end}}

{{define "body"}}

<div>
    <p>Olá {{.name}},</p>

    <p>Você pode redefinir sua senha clicando no link abaixo:</p>

    <p><a href="{{.link}}">{{.link}}</a></p>

    <p>Se tiver problemas para clicar no link, copie e cole o endereço no seu navegador.</p>

    <p><strong>Caso você não tenha solicitado a redefinição da senha, desconsidere este e-mail.</strong></p>

    <p>Atenciosamente,<br />{{ .appName }}</p>
</div>

{{end}}
