{{define "title"}}{{ .appName }} - Crie uma senha para sua nova conta{{end}}
{{define "head"}}
{{end}}

{{define "body"}}

<div>
    <p>Olá {{.name}},</p>

    <p>Você pode criar sua senha clicando no link abaixo:</p>

    <p><a href="{{.link}}">{{.link}}</a></p>

    <p>Se tiver problemas para clicar no link, copie e cole o endereço no seu navegador.</p>

    <p><strong>O link funciona por 24 horas. Se ele tiver expirado, fale com o administrador, que pode definir a sua senha ou permitir que você solicite um novo link na página de entrada.</strong></p>

    <p>Atenciosamente,<br />{{ .appName }}</p>
</div>

{{end}}
