version: '3.8'
services:

  mailhog:
    image: mailhog/mailhog       
    networks: 
      - goiabada-network


  mysql-server:
    image: mysql:latest
    restart: unless-stopped
    volumes:
      - mysql-data-tests:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: mySqlPass123
    healthcheck:      
      test: ["CMD", "mysqladmin", "ping", "-uroot", "-pmySqlPass123",  "--protocol", "tcp"]
      interval: 1s
      timeout: 2s
      retries: 20
    networks: 
      - goiabada-network


  goiabada-test-sqlite:
    container_name: goiabada-test-sqlite
    user: root
    build:
      context: ../
      dockerfile: ./docker/Dockerfile-test
    restart: unless-stopped
    depends_on:       
      mailhog:
        condition: service_started     
    command: sleep infinity
    healthcheck:      
      test: "curl --silent --fail http://localhost:8080/health > /dev/null || exit 1"
      interval: 1s
      timeout: 2s
      retries: 20
    networks: 
      - goiabada-network
    environment:
      - TEST_COMMAND=test-sqlite
      - TZ=Europe/Lisbon 
      - GOIABADA_ADMIN_EMAIL=admin@example.com
      - GOIABADA_ADMIN_PASSWORD=changeme
      - GOIABADA_APPNAME=Goiabada
      - GOIABADA_ISSUER=http://localhost:8080
      - GOIABADA_BASEURL=http://localhost:8080
      - GOIABADA_CERTFILE=
      - GOIABADA_KEYFILE=
      - GOIABADA_HOST=localhost
      - GOIABADA_PORT=8080
      - GOIABADA_TEMPLATEDIR=./web/template
      - GOIABADA_STATICDIR=./web/static
      - GOIABADA_ISBEHINDAREVERSEPROXY=false


  goiabada-test-mysql:
    container_name: goiabada-test-mysql
    user: root
    build:
      context: ../
      dockerfile: ./docker/Dockerfile-test
    restart: unless-stopped
    depends_on: 
      mysql-server:
        condition: service_healthy
      mailhog:
        condition: service_started     
    command: sleep infinity
    healthcheck:      
      test: "curl --silent --fail http://localhost:8080/health > /dev/null || exit 1"
      interval: 1s
      timeout: 2s
      retries: 20
    networks: 
      - goiabada-network
    environment:
      - TEST_COMMAND=test-mysql
      - TZ=Europe/Lisbon 
      - GOIABADA_ADMIN_EMAIL=admin@example.com
      - GOIABADA_ADMIN_PASSWORD=changeme
      - GOIABADA_APPNAME=Goiabada
      - GOIABADA_ISSUER=http://localhost:8080
      - GOIABADA_BASEURL=http://localhost:8080
      - GOIABADA_CERTFILE=
      - GOIABADA_KEYFILE=
      - GOIABADA_HOST=localhost
      - GOIABADA_PORT=8080
      - GOIABADA_TEMPLATEDIR=./web/template
      - GOIABADA_STATICDIR=./web/static
      - GOIABADA_ISBEHINDAREVERSEPROXY=false


volumes:
  mysql-data-tests:

networks:
  goiabada-network:
