<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{template "title" .}}</title>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.6/dist/full.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/static/main.css" />
  <script src="/static/utils.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">

  <meta name="description" content="Goiabada is an OAuth2/OpenID Connect server." />

  <style>
    .label {
        user-select: auto;
    }
  </style>
  <script>

  </script>

  {{template "head" .}}
</head>

<body>
  <div class="drawer lg:drawer-open">
    <input id="left-sidebar-drawer" type="checkbox" class="drawer-toggle" />
    <div class="flex flex-col items-center justify-center drawer-content">

      <div class="flex justify-between shadow-md navbar bg-base-100">
        <div class="">
          <label for="left-sidebar-drawer" class="btn btn-primary drawer-button lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" aria-hidden="true" class="inline-block w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5">
              </path>
            </svg>
          </label>
          <h1 class="ml-2 text-2xl font-semibold">{{template "pageTitle" .}}</h1>
        </div>
        <!-- <div class="order-last">             

          Placeholder for items at the top-right of the screen
                
        </div> -->
      </div>

      <main class="flex-1 w-full px-5 pt-6 overflow-y-auto bg-base-300">

        <div class="w-full p-5 mt-1 mb-4 shadow-xl card bg-base-100">
          <div class="text-xl font-semibold">
            {{template "subTitle" .}}
          </div>
          <div class="mt-2 divider"></div>
          <div class="w-full h-full pb-6 bg-base-100">
            {{template "body" .}}
          </div>
        </div>
        
      </main>

    </div>

    <div class="drawer-side">
      <label for="left-sidebar-drawer" class="drawer-overlay"></label>
      <ul class="w-72 menu menu-lg bg-base-100 rounded-box">
        <li class="pl-3 mt-2 mb-3 text-2xl font-semibold">{{.appName}}</li>
        <li class="mt-1 {{if eq .urlPath "/account/profile"}}bg-base-300{{end}}">
          <a href="/account/profile">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            Profile{{if eq .urlPath "/account/profile"}}<span class="absolute inset-y-0 left-0 w-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
          </a>
        </li>
        <li class="{{if or (eq .urlPath "/account/email") (eq .urlPath "/account/email-verify")}}bg-base-300{{end}}">
          <a href="/account/email">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round"
                d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
            </svg>
            Email{{if or (eq .urlPath "/account/email") (eq .urlPath "/account/email-verify")}}<span class="absolute inset-y-0 left-0 w-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
          </a>
        </li>
        <li class="{{if or (eq .urlPath "/account/phone") (eq .urlPath "/account/phone-verify")}}bg-base-300{{end}}">
          <a href="/account/phone">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
            </svg>
            Phone{{if or (eq .urlPath "/account/phone") (eq .urlPath "/account/phone-verify")}}<span class="absolute inset-y-0 left-0 w-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
          </a>
        </li>
        <li class="{{if eq .urlPath "/account/address"}}bg-base-300{{end}}">
          <a href="/account/address">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Address{{if eq .urlPath "/account/address"}}<span class="absolute inset-y-0 left-0 w-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
          </a>
        </li>
        <li>
          {{ $authMenuOpen := false }}
          {{ if or (eq .urlPath "/account/change-password") (eq .urlPath "/account/otp") }}
            {{$authMenuOpen = true}}
          {{end}}
          <details {{if $authMenuOpen}}open{{end}}>
            <summary>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
              </svg>
              Authentication
            </summary>
            <ul>
              <li class="{{if eq .urlPath "/account/change-password"}}bg-base-300{{end}}">
                <a href="/account/change-password">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 pl-1">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                  </svg>
                  Change password{{if eq .urlPath "/account/change-password"}}<span class="absolute inset-y-0 left-0 w-1 mt-1 mb-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
                </a>
              </li>
              <li class="{{if eq .urlPath "/account/otp"}}bg-base-300{{end}}">
                <a href="/account/otp">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 pl-1">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                  </svg>
                  2-factor auth (OTP){{if eq .urlPath "/account/otp"}}<span class="absolute inset-y-0 left-0 w-1 mt-1 mb-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
                </a>
              </li>
            </ul>
          </details>
        </li>
        <li class="{{if eq .urlPath "/account/manage-consents"}}bg-base-300{{end}}">
          <a href="/account/manage-consents">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
            </svg>
            Manage consents{{if eq .urlPath "/account/manage-consents"}}<span class="absolute inset-y-0 left-0 w-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
          </a>
        </li>
        <li class="{{if eq .urlPath "/account/device-sessions"}}bg-base-300{{end}}">
          <a href="/account/device-sessions">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
            </svg>
            Device sessions{{if eq .urlPath "/account/device-sessions"}}<span class="absolute inset-y-0 left-0 w-1 rounded-tr-md rounded-br-md bg-primary" aria-hidden="true"></span>{{end}}
          </a>
        </li>
        <li>
          <a href="/account/logout">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            Logout
          </a>
        </li>
        <li class="h-1 p-0 mx-0 mt-6 mb-0 divider"></li>
        <li class="mt-4 mr-2 font-mono text-right text-md">
          {{if .loggedInUser}}
            {{if .loggedInUser.GetFullName}}
              {{.loggedInUser.GetFullName}}<br />
            {{end}}
            {{.loggedInUser.Email}}
          {{end}}
        </li>        
      </ul>
    </div>

  </div>

</body>

</html>