{{define "content"}}
<h1 class="text-3xl font-bold mb-4">Forbidden, sorry.</h1>
<p>Check your authentication and permissions, and try again.</p>

{{if .Reason}} 
    <p>Reason: <strong>{{.Reason}}</strong></p>
{{end}}

<div class="mt-8">
    <h2 class="text-2xl font-bold mb-4">Token Information</h2>
    <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1">
            {{if .CommonData.IdTokenClaims}}
                {{template "TokenPrinter" dict "Token" .CommonData.IdTokenClaims "TokenType" "ID Token"}}
            {{else}}
                <p class="text-gray-500 italic">No valid id token.</p>
            {{end}}
        </div>

        <div class="flex-1">
            {{if .CommonData.AccessTokenClaims}}
                {{template "TokenPrinter" dict "Token" .CommonData.AccessTokenClaims "TokenType" "Access Token"}}
            {{else}}
                <p class="text-gray-500 italic">No valid access token.</p>
            {{end}}
        </div>

        <div class="flex-1">
            {{if .CommonData.RefreshTokenClaims}}
                {{template "TokenPrinter" dict "Token" .CommonData.RefreshTokenClaims "TokenType" "Refresh Token"}}
            {{else}}
                <p class="text-gray-500 italic">No valid refresh token.</p>
            {{end}}
        </div>
    </div>
</div>
{{end}}