<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goiabada's Test Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-900">
    <header class="bg-blue-600 text-white">
        <nav class="bg-blue-600 text-white container mx-auto px-6 py-3">
            <a href="/" class="hover:text-gray-300 mr-4 {{if eq .CommonData.CurrentPage "/"}}font-bold{{end}}">Index</a>
            <a href="/authenticated" class="hover:text-gray-300 mr-4 {{if eq .CommonData.CurrentPage "authenticated"}}font-bold{{end}}">Authenticated users</a>
            <a href="/authenticated-plus-scope" class="hover:text-gray-300 mr-4 {{if eq .CommonData.CurrentPage "authenticated-plus-scope"}}font-bold{{end}}">Authenticated + scope</a>
            <a href="/with-scope" class="hover:text-gray-300 mr-4 {{if eq .CommonData.CurrentPage "with-scope"}}font-bold{{end}}">With scope</a>
            <a href="/login" class="hover:text-gray-300 {{if eq .CommonData.CurrentPage "login"}}font-bold{{end}}">Login</a>          
            <a href="/logout" class="hover:text-gray-300 {{if eq .CommonData.CurrentPage "logout"}}font-bold{{end}}">Logout</a>
            {{if .CommonData.HasRefreshToken}}
                <a href="/refresh" class="hover:text-gray-300 mr-4 {{if eq .CommonData.CurrentPage "refresh"}}font-bold{{end}}">Refresh token</a>
            {{end}}
        </nav>
    </header>
    <main class="flex-grow container mx-auto px-6 py-8" role="main">
        {{template "content" .}}
    </main>
    <footer class="bg-gray-200 py-4">
        <div class="container mx-auto px-6 text-center">
            <a href="https://goiabada.dev" class="text-blue-600 hover:text-blue-800" target="_blank">https://goiabada.dev</a>
        </div>
    </footer>
</body>
</html>