{{define "manage_users_tabs"}}

{{ $type := index . 0 }}
{{ $id := index . 1 }}
{{ $page := index . 2 }}
{{ $query := index . 3 }}
{{ $ctx := index . 4 }}

<div class="mt-2 tabs tabs-bordered">
    <a href="/admin/users/{{$id}}/details?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "details"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.details" }}</a>
    <a href="/admin/users/{{$id}}/profile?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "profile"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.profile" }}</a>
    <a href="/admin/users/{{$id}}/picture?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "picture"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.picture" }}</a>
    <a href="/admin/users/{{$id}}/email?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "email"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.email" }}</a>
    <a href="/admin/users/{{$id}}/phone?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "phone"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.phone" }}</a>
    <a href="/admin/users/{{$id}}/address?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "address"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.address" }}</a>
    <a href="/admin/users/{{$id}}/authentication?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "authentication"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.authentication" }}</a>
    <a href="/admin/users/{{$id}}/consents?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "consents"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.consents" }}</a>
    <a href="/admin/users/{{$id}}/sessions?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "sessions"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.sessions" }}</a>
    <a href="/admin/users/{{$id}}/attributes?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "attributes"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.attributes" }}</a>
    <a href="/admin/users/{{$id}}/permissions?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "permissions"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.permissions" }}</a>
    <a href="/admin/users/{{$id}}/groups?page={{$page}}&query={{$query}}" class="tab tab-bordered {{if eq $type "groups"}}tab-active{{end}}">{{ T $ctx "adminconsole.user_tabs.groups" }}</a>
</div>

{{end}}
