name: Build non-container Linux binaries

on:  
  workflow_dispatch:
    inputs:
      name:
        description: "Version"
        default: "0.0"

jobs:
    build-linux-binaries:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout the code
          uses: actions/checkout@v4

        - name: Set up Go         
          uses: actions/setup-go@v4
          with:
            go-version: '1.22.0'
        
        - name: Build Linux binaries
          run: |
            pwd
            cd ./authserver/src
            pwd
            ls -la

            export GOIABADA_VERSION=${{ github.event.inputs.name }}
            export GOIABADA_BUILD_DATE=$(date +%Y-%m-%d)
            export GOIABADA_GIT_COMMIT=$(git rev-parse --short HEAD)
            echo "GOIABADA_VERSION=${GOIABADA_VERSION}"
            echo "GOIABADA_BUILD_DATE=${GOIABADA_BUILD_DATE}"
            echo "GOIABADA_GIT_COMMIT=${GOIABADA_GIT_COMMIT}"

            go env -w CGO_ENABLED=0

            GOOS=linux GOARCH=amd64 go build -ldflags="-X 'github.com/leodip/goiabada/internal/constants.Version=${GOIABADA_VERSION}' -X 'github.com/leodip/goiabada/internal/constants.BuildDate=${GOIABADA_BUILD_DATE}' -X 'github.com/leodip/goiabada/internal/constants.GitCommit=${GOIABADA_GIT_COMMIT}'" -o ./bin/amd64/goiabada ./cmd/goiabada/main.go
            GOOS=linux GOARCH=arm64 go build -ldflags="-X 'github.com/leodip/goiabada/internal/constants.Version=${GOIABADA_VERSION}' -X 'github.com/leodip/goiabada/internal/constants.BuildDate=${GOIABADA_BUILD_DATE}' -X 'github.com/leodip/goiabada/internal/constants.GitCommit=${GOIABADA_GIT_COMMIT}'" -o ./bin/arm64/goiabada ./cmd/goiabada/main.go
            ls -laR ./bin

        - name: Zip the binaries
          run: |
            pwd
            cd ./authserver/src
            pwd
            zip ./bin/amd64/goiabada.linux-amd64.zip ./bin/amd64/goiabada
            zip ./bin/arm64/goiabada.linux-arm64.zip ./bin/arm64/goiabada            
            ls -laR ./bin

        - name: Upload the binaries
          uses: actions/upload-artifact@v4
          with:            
            path: |
              ./authserver/src/bin/amd64/goiabada.linux-amd64.zip
              ./authserver/src/bin/arm64/goiabada.linux-arm64.zip


