name: Run tests

on:  
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run tests
        id: run-tests
        run: |
          cd src/build
          pwd
          ls -la
          docker images
          docker ps -a
          docker compose -f ./docker-compose-test.yml down -v
          docker compose -f ./docker-compose-test.yml run goiabada-test
