site_name: Goiabada
site_url: https://goiabada.dev
repo_url: https://github.com/leodip/goiabada
theme:  
  name: material
  custom_dir: overrides
  features:
    - content.code.copy  
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
nav:
  - Home: index.md
  - Installation: installation.md
  - How it works: how-it-works.md
  - Examples: examples.md
  - Integration: integration.md  
  - Development: development.md
  - License: license.md
  - About: about.md

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.snippets:
      base_path: ../authserver/docker